@import url('https://fonts.googleapis.com/css?family=Itim');
#ncufresh {
    margin : auto ;
    display : block ;
    max-width: 80vw ;
    max-height: 55vh ;
    z-index: 1 ;
}
#made {
    margin : auto ;
    display : block ;
    max-width: 30vw ;
    max-height: 20vh ;
    z-index: 1 ;
}
main {
    background-image: url("百花川遮罩黑.png") ;
    background-position: center ;
    background-size: cover ;
    min-height: 100vh;
}
#grid-counter {
    display: grid ;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    grid-column-gap: 1vw ;
    grid-template-rows: 10vw 8vw;
}
#grid-block {
    color:  white ;
    text-align: center;
    font-family: 'Itim', cursive ;
}
.time {
    font-size: 10vw ;
}
.num {
    font-size: 5vw ;
}