@import url('https://fonts.googleapis.com/css?family=Itim');
#demo {
    color : white ;
    position : absolute ;
    top : 65% ;
    left : 17% ;
    font-size : 9vw ;
    font-family: 'Itim', cursive;
    z-index: 1 ;
}
#ncufresh {
    margin : auto ;
    display : block ;
    max-width: 80vw ;
    max-height: 55vh ;
    z-index: 1 ;
}
#made {
    margin : auto ;
    display : block ;
    max-width: 30vw ;
    max-height: 20vh ;
    z-index: 1 ;
}
main {
    background-image: url("百花川遮罩黑.png") ;
    background-position: center ;
    background-size: cover ;
    min-height: 100vh;
}