@import url('https://fonts.googleapis.com/css?family=Itim');
#ncufresh {
    margin : auto ;
    display : block ;
    max-width: 80vw ;
    max-height: 50vh ;
    z-index: 1 ;
    margin-bottom: max(0px, 25vmin - 15vw);
}
#made {
    margin : auto ;
    display : block ;
    max-width: 45vw ;
    max-height: 15vh ;
    z-index: 1 ;
}
body{
    height: 100vh;
    background-image: url("百花川遮罩黑.png") ;
    background-position: center ;
    background-size: cover ;
}
main{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    height: 100vmin;
}

#grid-counter{
    display: grid ;
    grid-template-columns: 2fr repeat(4, minmax(25vw,2fr)) 2fr;
    grid-template-rows: 18vmin 10vmin;
}
#grid-block {
    color:  white ;
    text-align: center;
    font-family: 'Itim', cursive ;
}

.time {
    font-size: 18vmin ;
}
.num {
    font-size: 10vmin ;
}
p{
    margin-bottom: 0;
}