<!DOCTYPE html>
<html>

<head></head>
<body>
    <main>
 <div class="modal fade bd-example-modal-lg " id="edit" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered " role="document">
                    <form name="add" action="/documents/edit/"+textid  method="post" accept-charset="utf-8">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                    欄位名稱
                                    <input type="text" name="title">
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <!-- <input type="hidden" name="id" value="<"> -->
                            <div class="modal-body">
                                <textarea class="form-control" id="message-text" name="add-text"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="save" id="save">
                                </submit>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </main>
    </body>