<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <h1><%= title %></h1>
        <h2>大一新生</h2>
        <nav class="nav navbar-default">
            <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#register">註冊報到</a></li>
                <li><a data-toggle="tab" href="#activity">新生週活動</a></li>
                <li><a data-toggle="tab" href="#score">學霸之路</a></li>
                <li><a data-toggle="tab" href="#other">其他</a></li>
            </ul>
            </div>
        </nav>
        <div class="tab-content">
            <div id="register" class="tab-pane fade in active">
                <div class="container">
                    <table width="100%" height="300px" border="1px">
                      <div class="col"  href="#room">
                            <tr>
                                <td  href="#money">學雜費繳費、減免</td>
                                <td href="#room">住宿注意事項</td>
                                <td colspan=2 rowspan=2  href="#notice"> 註冊通知、日程表</td>
                            </tr>
                            <tr>
                                <td  rowspan=2>學籍登入</td>
                                <td >兵役注意資料</td>
                            </tr>
                            <tr>
                                <td colspan=2>入住通管制圖、報到流程</td>
                                <td>腳踏車通行申請</td>
                            </tr>
                    </table>
                   
            </div>
            </div>
            <div id="activity" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Some content in menu 1.</p>
            </div>
            <div id="score" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Some content in menu 2.</p>
            </div>
            <div id="other" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Some content in menu 2.</p>
            </div>
        </div>
        
         

    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
