<!DOCTYPE html>
<html>

<head>
    <% include ../layout/head %>

        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
        <link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
        <script src="http://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>
</head>

<body id="pre">
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
           
             
           
            <% /*管理者介面 */%>
        <div class="modal fade " id="edit" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

            <div class="modal-dialog  modal-lg " role="document">
                <form name="add" id="add" method="post" accept-charset="utf-8">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                欄位名稱
                                <input type="text" name="title" id="edit_title">
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <% /*ckeditor放置地方*/ %>
                            <textarea class="form-control" id="edit_content" name="add_text"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="save" id="save">
                        </div>
                    </div>
                </form>
            </div>
        </div>
          
        


        
            <!-- 要只讓登入者看到的東西 -->
           
        <% /*使用者介面*/ %>
        <div class="modal fade" id="show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            <div class="title" id="show_title"></div>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="t_close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="content" id="show_content"></div>
                        
                    </div>
                   
                    <div class="modal-footer" id="o_close">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                    </div>
                   
                            <button type="button" class="  btn  btn-secondary" data-dismiss="modal" id="b_close" >Close</button>
                        
                </div>
            </div>
        </div>
        


        <div class="undergraduate" id="undergraduate">
            <h2>
                <a href="#undergraduate" class="under big">大一新生</a>
                <span style="padding-left:30px">/
                    <span style="padding-left:30px">
                        <a href="#graduate" class="gra small">碩一新生</a>
            </h2>

                <ul class="nav nav-pills mb-3 justify-content-center nav-fill" id="tab" role="tablist">
                    <li class="nav-item  ">
                        <a data-toggle="tab" href="#register" class="nav-link active" role="tab" aria-controls="home" aria-selected="true">註冊報到</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#activity" class="nav-link " role="tab" aria-controls="home" aria-selected="false">新生週活動</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#score" class="nav-link " role="tab" aria-controls="home" aria-selected="false">學霸之路</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#other" class="nav-link " role="tab" aria-controls="home" aria-selected="false">其他</a>
                    </li>

                </ul>
                <p></p>

                <div class="tab-content">
                    <div id="register" class="tab-pane fade show active" role="tabpanel">

                            <div class="grid special ">

                                <div class="box parent money p_money" id="1">
                                    <div class="child bg1">
                                    <a>
                                        學雜費繳費、減免

                                    </a>
                                    </div>
                                </div>
                                <div class="box parent room p_room" id="6">
                                    <div class="child bg2">
                                        <a data-toggle="modal" data-target="#edit"> 住宿注意事項</a>
                                    </div>
                                </div>
                                <div class="box parent notice p_notice"  id="2">
                                    <div class="toomuch bg3 " id="big">
                                        <a>
                                        註冊通知、日程表
                                        </a>
                                    </div>
                                </div>

                                <div class="box parent enter p_enter" id="3">
                                    <div class="child bg4">
                                    <a>學籍登入</a>
                                    </div>
                                </div>
                                <div class="box parent solider p_solider" id="4">
                                    <div class="child bg5">
                                    <a>兵役注意資料</a>
                                    </div>
                                </div>

                                <div class="box parent control p_control" id="5">
                                    <div class="toomuch bg6">
                                    <a>入住通管制圖、報到流程</a>
                                    </div>
                                </div>
                                <div class="box parent bike p_bike" id="7">
                                    <div class="child bg7">
                                    <a>腳踏車通行申請</a>
                                    </div>
                                </div>
                            </div>
                            

                      
                    </div>
                    <div id="activity" class="tab-pane fade " role="tabpanel">
                        <div class="grid special">

                            <div class="box parent money p_money" id="8">
                                <div class="child bg1">
                                <a>校園安全宣導</a>
                                </div>
                            </div>
                            <div class="box parent room p_room" id="9">
                                    <div class="child bg2">
                                <a>新生營</a>
                                </div>
                            </div>
                            <div class="box parent notice p_notice" id="10">
                                    <div class="toomuch bg3">
                                <a>新生健康檢查</a>
                                    </div>
                            </div>

                            <div class="box parent enter p_enter" id="11">
                                    <div class="child bg4">
                                <a>新生週日程表</a>
                                </div>
                            </div>
                            <div class="box parent solider p_control" id="12">
                                    <div class="toomuch bg51">
                                <a>社團聯展</a>
                                </div>
                            </div>

                            <div class="box parent control p_bike" id="13">
                                    <div class="child bg6">
                                <a>心理適應座談</a>
                                    </div>
                            </div>
                            <div class="box parent bike p_solider" id="14">
                                    <div class="child bg7">
                                <a>新生資訊網圖</a>
                                    </div>
                            </div>

                        </div>
                        
                    </div>
                    <div id="score" class="tab-pane fade" role="tabpanel">
                        <div class="grid p_grid special">

                            <div class="box parent a" id="15">
                                    <div class="child bg15">
                                <a>畢業門檻</a>
                                    </div>
                            </div>
                            <div class="box parent b" id="16">
                                    <div class="child bg16">
                                <a>英文免修申請門檻</a>
                                    </div>
                            </div>
                            <div class="box parent a2" id="17">
                                    <div class="child bg17">
                                <a>雙主修、輔系、學分學程、第二專長
                                </a>
                                </div>
                            </div>
                            <div class="box parent b2" id="18">
                                    <div class="child bg18">
                                <a>課業輔導管道</a>
                                </div>
                            </div>
                            <div class="box parent c" id="19">
                                    <div class="toomuch bg19">
                                <a>選課懶人包</a>
                                </div>
                            </div>

                            <div class="box parent c2" id="20">
                                    <div class="toomuch bg20">
                                <a>畢業學習護照說明</a>
                                </div>
                            </div>
                            <div class="box parent  d" id="21">
                                    <div class="child bg21">
                                <a>ＮＣＵ＊中大磨課師</a>
                                    </div>
                            </div>
                            <div class="box parent e" id="22">
                                    <div class="child bg22">
                                <a>交換學生</a>
                                    </div>
                            </div>
                            <div class="box parent d2" id="23">
                                    <div class="child bg23">
                                <a>大一國文</a>
                                    </div>
                            </div>
                            <div class="box parent e2" id="24">
                                    <div class="child bg24">
                                <a>通識課程概念</a>
                                    </div>
                            </div>
                            
                        </div>
                    </div>
                    <div id="other" class="tab-pane fade" role="tabpanel">
                        <div class="grid p_grid special">

                            <div class="box parent a" id="25">
                                    <div class="child bg1">
                                <a>106行事曆</a>
                                    </div>
                            </div>
                            <div class="box parent b" id="26">
                                    <div class="child bg2">
                                <a>學生掛號郵件</a>
                                    </div>
                            </div>
                            <div class="box parent intoduce" id="27">
                                    <div class="child bg27">
                                <a>常用連結介紹</a>
                                    </div>
                            </div>
                            <div class="box parent lms" id="28">
                                    <div class="child bg4">
                                <a>ＬＭＳ/ee-CLASS</a>
                                    </div>

                            </div>
                            <div class="box parent c" id="29">
                                    <div class="toomuch bg5">
                                <a>中大圖書館</a>
                                    </div>

                            </div>

                            <div class="box parent portal" id="30">
                                    <div class="child bg6">
                                <a>NCU Portal</a>
                                    </div>

                            </div>
                            <div class="box parent d" id="31">
                                    <div class="child bg7">
                                <a>中大電算中心</a>
                                    </div>

                            </div>
                            <div class="box parent e" id="32">
                                    <div class="child bg7">
                                <a>輔導資訊</a>
                                    </div>

                            </div>
                            <div class="box parent ask" id="33">
                                    <div class="child bg7">
                                <a>學生申訴管道</a>
                                    </div>

                            </div>

                        </div>
                        
                        
                    </div>
                    <p></p>
                   
                    <img src="s_space2.png" id="space">
                    <img src="s_man2.png"  id="man">
            
                </div>
        </div>
        
        <div class="graduate" id="graduate">


            <h2>
                <a href="#undergraduate" class="under">大一新生</a>
                <span style="padding-left:30px">/
                    <span style="padding-left:30px">
                        <a href="#graduate" class="gra">碩一新生</a>
            </h2>

            <ul class="nav nav-pills mb-3 justify-content-center nav-fill" id="tab" role="tablist">
                <li class="nav-item">
                    <a data-toggle="tab" href="#register1" class="nav-link active" role="tab" aria-controls="home" aria-selected="true">註冊報到</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#activity1" class="nav-link " role="tab" aria-controls="home" aria-selected="false">新生週活動</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#other1" class="nav-link" role="tab" aria-controls="home" aria-selected="false">其他</a>
                </li>
            </ul>
            <p></p>
            <div class="tab-content">
                <div id="register1" class="tab-pane fade show active">

                        <div class="grid special">

                            <div class="box parent money p_money" id="34">
                                    <div class="child bg34">
                                <a>學雜費繳費、減免</a>
                                    </div>
                            </div>
                            <div class="box parent room  p_room" id="35">
                                    <div class="child bg35">
                                <a>住宿注意事項</a>
                                    </div>
                            </div>
                            <div class="box parent notice p_notice" id="36">
                                    <div class="toomuch bg36">
                                <a>註冊通知、日程表</a>
                                    </div>
                            </div>


                            <div class="box parent enter p_enter" id="37">
                                    <div class="child bg37">
                                <a>學籍登入</a>
                                    </div>
                            </div>
                            <div class="box parent solider p_solider" id="38">
                                    <div class="child bg38">
                                <a>兵役注意資料</a>
                                    </div>
                            </div>

                            <div class="box parent control p_control" id="39">
                                    <div class="toomuch bg39">
                                <a>入住通管制圖、報到流程</a>
                                    </div>
                            </div>
                            <div class="box parent bike p_bike" id="40">
                                    <div class="child bg40">
                                <a>腳踏車通行申請</a>
                                    </div>
                            </div>
                        </div>
                    

                    </div>
                
                <div id="activity1" class="tab-pane fade">
                    <div class="grid special p_ugly">
                        <div class="box parent first" id="41">
                                <div class="child bg6">
                            <a>新生健康檢查</a>
                            </div>
                        </div>
                        <div class="box parent second" id="42">
                                <div class="child bg3">
                            <a>社團聯展</a>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div id="other1" class="tab-pane fade">
                    <div class="grid special p_grid">

                        <div class="box parent a" id="43">
                                <div class="child bg2">
                            <a>106行事曆</a>
                            </div>
                        </div>
                        <div class="box parent b" id="44">
                                <div class="child bg3">
                            <a>學生掛號郵件</a>
                            </div>
                        </div>
                        <div class="box parent intoduce" id="45">
                                <div class="child bg7">
                            <a>常用連結介紹</a>
                            </div>
                        </div>
                        <div class="box parent lms" id="46">
                                <div class="child bg4">
                            <a>ＬＭＳ數位學習平台</a>
                            </div>

                        </div>
                        <div class="box parent c" id="47">
                                <div class="toomuch bg6">
                            <a>中大圖書館</a>
                            </div>

                        </div>

                        <div class="box parent portal" id="48">
                                <div class="child bg6">
                            <a>NCU Portal</a>
                            </div>

                        </div>
                        <div class="box parent d">
                                <div class="child bg3">
                            <a>中大電算中心</a>
                            </div>

                        </div>
                        <div class="box parent e">
                                <div class="child bg2">
                            <a>輔導資訊</a>
                            </div>

                        </div>
                        <div class="box parent ask">
                                <div class="child bg1">
                            <a>學生申訴管道</a>
                                </div>
                        </div>
                    </div> 
                       
                </div>
                <p></p>
    
                <img src="m_space2.png" id="space1">
                <img src="m_man2.png"  id="man1">
                
            </div>
        </div>
       


    </main>


    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
        <% include js %>
</body>

</html>