<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <script src="phaser.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main style="height: auto;">
        <div id="game" align="center"></div>

    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
