<!DOCTYPE html>
<html>

<head>
    <% include ../layout/head %>
        <script src="phaser.min.js"></script>
        <style type="text/css">
            @font-face {
                font-family: 'myFont';
                src: url('/smallgame/images/myFont.ttf');
                font-weight: normal;
                font-style: normal;
            }
        </style>
        <% include js2 %>
</head>

<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main style="height: auto;">
        <div id="game" align="center"></div>

    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
</body>

</html>