<img class="expendImg" src="expend_img.png" alt="點我"/>
<div class="downNav">
    <nav id="downNav" class="hide2">
        <div class="navback"></div>
        <ul id="navi">
            <br />
            <li><a href="/life/food_phone"> <img class="navSubBtn" src="foodBtn.png"/> </a></li> <hr style="height:10px; visibility:hidden;" />
            <li><a href="/life/dorm_phone"> <img class="navSubBtn" src="dormBtn.png"/> </a></li> <hr style="height:10pt; visibility:hidden;" />
            <li><a href="/life/comm_phone"> <img class="navSubBtn" src="commBtn.png"/> </a></li> <hr style="height:10pt; visibility:hidden;" />
            <li><a href="/life/edu_phone"> <img class="navSubBtn" src="eduBtn.png"/> </a></li> <hr style="height:10pt; visibility:hidden;" />
            <li><a href="/life/entertainment_phone"> <img class="navSubBtn" src="entertainBtn.png"/> </a></li>
        </ul>
    </nav>
</div>