<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <table>
            <tr class='space'> 
                
                <div id="picture"><img src="10ve.jpg" id="pic"></div>
            </tr>
            <tr>
                <td class='space'>
                    <div id="empty"></div>
                </td>
                <td class='space'>
                    <div id="score"></div>
                </td>
                <td class='space'>
                    <div id="writing"></div>
                </td>
                <td class='space'>
                    <div class='space'>
                        <a href="/smallgame"><img src="小遊戲.png" id="btn"></a>
                    </div>
                    <div class='space'>
                        <a href="/qna"><img src="我要發問.png" id="btn"></a>
                    </div>
                    <div class='space'>
                        <a href="/smallgame"><img src="調查問卷.png" id="btn"></a>
                    </div>
                </td>
            </tr>
        </table>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
