<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <div id="canvas"></div>
        <table>
            <tr>
                <td class='space'>
                    <div id="empty"></div>
                </td>
                <td class='space'>
                    <div id="score">
                        <p id="w1"> 遊戲紀錄</p>
                    </div>
                </td>
                <td class='space'>
                    <div id="writing">
                        <p id="w2"> 發問紀錄</p>
                    </div>
                </td>
                <td class='space'>
                    <div class='space'>
                        <a href="/smallgame"><img src="小遊戲.png" id="btn"></a>
                    </div>
                    <div class='space'>
                        <a href="/qna"><img src="我要發問.png" id="btn"></a>
                    </div>
                    <div class='space'>
                        <a href="https://goo.gl/forms/3Xk8HAkeKQiodR7r1"><img src="調查問卷.png" id="btn"></a>
                    </div>
                </td>
            </tr>
        </table>
        <div id="box">
            <img src="預設頭貼.png" id="pic">
            <h2 id="namae">陳鉅仁</h2>
            <h5 id="number">105502543</h5>
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
