<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <h1><%= title %></h1>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
