<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <style>
        main {
            margin-top: -56px;
        }
        .slider_container{
            width:  100%;
            height: 100%;
            display: block;
        }
        .img_container {
            width:  100%;
            height: 100%;
            -webkit-animation: round 50s linear infinite;
            animation: round 50s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            background-size: cover;
            background-position: 40% center;
        }
        #c1 {
            background-image: url("index/Cosmos01.jpg");
        }
        #c2 {
            background-image: url("index/Cosmos02.jpg");
        }
        #c3 {
            background-image: url("index/Cosmos03.jpg");
        }
        #c4 {
            background-image: url("index/111.jpg");
        }
        #c5 {
            background-image: url("index/未命名.png");
        }
    @-webkit-keyframes round {
        0% {
            opacity: 0;
            filter: alpha(opacity=0);
            background-position: 40% center;
        }
        2% {
            opacity: 1;
            filter: alpha(opacity=1);
        }
        10% {
            background-position: 50% center;
        }
        20% {
            opacity: 1;
            filter: alpha(opacity=1);
        }
        22% {
            opacity: 0;
            filter: alpha(opacity=0);
            background-position: 60% center;
        }
    }
    @keyframes round {
        0% {
            opacity: 0;
            filter: alpha(opacity=0);
            background-position: 40% center;
        }
        2% {
            opacity: 1;
            filter: alpha(opacity=1);
        }
        10% {
            background-position: 50% center;
        }
        20% {
            opacity: 1;
            filter: alpha(opacity=1);
        }
        22% {
            opacity: 0;
            filter: alpha(opacity=0);
            background-position: 60% center;
        }
    }
    .slider_container div:nth-child(5) , #c5 {
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
    }

    .slider_container div:nth-child(4) , #c4 {
        -webkit-animation-delay: 10s;
                animation-delay: 10s;
    }

    .slider_container div:nth-child(3) , #c3 {
        -webkit-animation-delay: 20s;
                animation-delay: 20s;
    }

    .slider_container div:nth-child(2) , #c2 {
        -webkit-animation-delay: 30s;
                animation-delay: 30s;
    }

    .slider_container div:nth-child(1) , #c1 {
        -webkit-animation-delay: 40s;
                animation-delay: 40s;
    }
    </style>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <div class="slider_container">
            <div class="img_container" id="c1"></div>
            <div class="img_container" id="c2"></div>
            <div class="img_container" id="c3"></div>
            <div class="img_container" id="c4"></div>
            <div class="img_container" id="c5"></div>
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
