<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel="stylesheet" type="text/css" href="about/fullPage.js-master/dist/fullpage.css" />
    <% /* This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "easeInOutCubic". */%>
    <% /* <script src="vendors/easings.min.js"></script>*/ %>
    <% /* This following line is only necessary in the case of using the option `scrollOverflow:true` */%>
    <% /* <script type="text/javascript" src="vendors/scrolloverflow.min.js"></script> */%>
    <script type="text/javascript" src="about/fullPage.js-master/dist/fullpage.js"></script>
    <style>
        .slider_container{
            width:  100%;
            height: 100%;
            display: block;
        }
        .img_container {
            width:  100%;
            height: 100%;
            -webkit-animation: round 63s linear infinite;
            animation: round 63s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            background-size: cover;
            background-position: 40% center;
        }
        body {
            background: url("index/ncu首頁.png") no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
        }
        #c1 {
            background-image: url("index/IMG-0.png");
        }
        #c2 {
            background-image: url("index/IMG-1.png");
        }
        #c3 {
            background-image: url("index/IMG-2.png");
        }
        #c4 {
            background-image: url("index/IMG-3.png");
        }
        #c5 {
            background-image: url("index/IMG-4.png");
        }
        #c6 {
            background-image: url("index/IMG-5.png");
        }
        #c7 {
            background-image: url("index/IMG-6.png");
        }
        #c8 {
            background-image: url("index/IMG-7.png");
        }
        #c9 {
            background-image: url("index/IMG-8.png");
        }
        @-webkit-keyframes round {
            0% {
                opacity: 0;
                filter: alpha(opacity=0);
                background-position: 40% center;
            }
            2.5% {
                opacity: 1;
                filter: alpha(opacity=1);
            }
            6.25% {
                background-position: 50% center;
            }
            12.5% {
                opacity: 1;
                filter: alpha(opacity=1);
            }
            15% {
                opacity: 0;
                filter: alpha(opacity=0);
                background-position: 60% center;
            }
        }
        @keyframes round {
            0% {
                opacity: 0;
                filter: alpha(opacity=0);
                background-position: 40% center;
            }
            2.5% {
                opacity: 1;
                filter: alpha(opacity=1);
            }
            6.25% {
                background-position: 50% center;
            }
            12.5% {
                opacity: 1;
                filter: alpha(opacity=1);
            }
            15% {
                opacity: 0;
                filter: alpha(opacity=0);
                background-position: 60% center;
            }
        }
        .slider_container div:nth-child(9) , #c9 {
            -webkit-animation-delay: -5s;
                    animation-delay: -5s;
        }

        .slider_container div:nth-child(8) , #c8 {
            -webkit-animation-delay: 2s;
                    animation-delay: 2s;
        }

        .slider_container div:nth-child(7) , #c7 {
            -webkit-animation-delay: 9s;
                    animation-delay: 9s;
        }

        .slider_container div:nth-child(6) , #c6 {
            -webkit-animation-delay: 16s;
                    animation-delay: 16s;
        }

        .slider_container div:nth-child(5) , #c5 {
            -webkit-animation-delay: 23s;
                    animation-delay: 23s;
        }

        .slider_container div:nth-child(4) , #c4 {
            -webkit-animation-delay: 30s;
                    animation-delay: 30s;
        }

        .slider_container div:nth-child(3) , #c3 {
            -webkit-animation-delay: 37s;
                    animation-delay: 37s;
        }

        .slider_container div:nth-child(2) , #c2 {
            -webkit-animation-delay: 44s;
                    animation-delay: 44s;
        }

        .slider_container div:nth-child(1) , #c1 {
            -webkit-animation-delay: 51s;
                    animation-delay: 51s;
        }
        .latest-news-btn {
            z-index: 1;
            vertical-align: bottom;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        #down-btn {
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 20vw;
        }
        #down-img {
            margin-right: 5vw;
            margin-left: 5vw;
            width: 10vw;
            -webkit-filter: invert(100%); /* Safari/Chrome */
            filter: invert(100%);
            background-color: rgba(255, 255, 255, 0.75)
        }
        #down-text {
            width: inherit;
            display:inline-block;
            text-align: center;
            font-size: 2em;
        }
        #news-box {
            min-height: 100px;
            height: 80vh;
            width: 80vw;
        }
        #select-bar {
            height: 48px;
        }
        #box1 {
            overflow-y: scroll;
            height: calc(80vh - 48px);
            border-radius: 2%;
            background-color: rgba(255,255,255,0.7);
        }
    </style>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <div id="fullpage">
            <div class="section">
                <div class="latest-news-btn">
                    <a href="#news-Q&A" id="down-btn">
                        <img id="down-img" src="index/thin-arrowheads-pointing-down.png">
                        <b id="down-text">最新公告</b>
                    </a>
                </div>
                <div class="img_container" id="c1"></div>
                <div class="img_container" id="c2"></div>
                <div class="img_container" id="c3"></div>
                <div class="img_container" id="c4"></div>
                <div class="img_container" id="c5"></div>
                <div class="img_container" id="c6"></div>
                <div class="img_container" id="c7"></div>
                <div class="img_container" id="c8"></div>
                <div class="img_container" id="c9"></div>
            </div>
            <div class="section">
                <div id="news-text">
                    <h1 class="text-center">最新消息</h1>
                    <h6 class="text-center">隨時掌握最新動態</h6>
                </div>
                <div id="news-box" class="mx-auto">
                    <div>
                        <div class="d-inline-block w-50 select-bar"><h2 class="text-center bg-warning">即時資訊</h2></div><div class="d-inline-block w-50 select-bar"><h2 class="text-center bg-info">熱門Q&A</h2></div>
                        <div id="box1">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    <tr>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    <tr>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    <tr>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    <tr>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                我是時間軸ＱＱＱＱ
            </div>
        </div>

    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
