.space {
    padding :10px ;
}
table {
    position: relative;
    z-index: 1 ;
    top : 10px ;
}
#picture {
    background-image: url("預設封面.png") ;
    background-size: cover ;
    background-position: center ;
    height: 350px ;
    width: 1500px ;
}
#empty {
    height: 300px ;
    width: 350px ;
    background-color: white ;
}
#score {
    height: 300px ;
    width: 250px ;
    background-color: rgb(244, 209, 207) ;
}
#writing {
    height: 300px ;
    width: 550px ;
    background-color: rgb(247, 233, 224) ;
}
#other {
    height: 300px ;
    width: 300px ;
}
#btn {
    height: 87px;
}
#pic {
    position: relative;
    z-index: 2 ;
    top : 250px ;
    left : 100px ;
    height: 200px ;
    width : 200px ;
    border-radius : 100px ;
    border : 2px ;
}