#empty {
    position: absolute ;
    top: 55vh ;
    left :0 ;
    height: 40vh ;
    width: 25vw ;
    background-color: white ;
}
#score {
    position: absolute ;
    top: 55vh ;
    left : 27vw ;
    height: 40vh ;
    width: 18vw ;
    background-color: rgb(244, 209, 207) ;
}
#writing {
    position: absolute ;
    top: 55vh ;
    left : 46vw ;
    height: 40vh ;
    width: 35vw ;
    background-color: rgb(247, 233, 224) ;
}
#btn1 {
    position: absolute ;
    top: 55vh ;
    left : 82vw ;
    width: 17vw ;
    height: 12vh ;
    color : rgb(0,44,144) ;
    background-color: rgb(201,210,225);
    border: none ;
    font-size : 5vh ;
}
#btn2 {
    position: absolute ;
    top: 69vh ;
    left : 82vw ;
    width: 17vw ;
    height: 12vh ;
    color : rgb(0,23,91) ;
    background-color: rgb(157,173,196);
    border: none ;
    font-size : 5vh ;
}
#btn3 {
    position: absolute ;
    top: 83vh ;
    left : 82vw ;
    width: 17vw ;
    height: 12vh ;
    color : rgb(0,16,94) ;
    background-color: rgb(121,135,161);
    border: none ;
    font-size : 5vh ;
}
#pic {
    object-fit: cover ;
    height: 24vh ;
    width : 24vh ;
    border-radius : 12vh ;
    border-width: 10px;
    border-color: white ;
    border-style: solid;
}
#box {
    position: absolute;
    z-index: 2 ;
    width : 24vh ;
    top : 40vh ;
    left : 7vw ;
}
#namae {
    text-align:center;
    font-size: 4vh ;
}
#number {
    text-align:center;
    font-size: 3vh ;
}
#bighead {
    top:15vh;
}
#bground {
    top:15vh;
}
#w1 {
    position: relative;
    color: rgb(170, 33, 63) ;
    top : 3px ;
    left : 10px ;
    font-size: 5vh ;
}
#w2 {
    position: relative;
    color : rgb(203, 138 , 120) ;
    width : 31vw ;
    top : 3px ;
    left : 10px ;
    font-size: 5vh ;
}
#canvas {
    background-image : url("預設封面.png") ;
    background-position: center ;
    background-size: cover ;
    position: absolute;
    top : 56px ;
    z-index: 1 ;
    height: calc(52vh - 56px) ;
    width: 100vw ;
}
#pic:hover {
    opacity: 0.5 ;
}
#pbox {
    background-image: url("點擊更改頭貼.png") ;
    background-position: center ;
    background-size: cover ;
    height: 24vh ;
    width : 24vh ;
    border-radius : 12vh ;
}
#changep {
    position: absolute;
    top : 30vh ;
}
@font-face {
    font-family: 'myFont';
    src: url('/personal/myFont.ttf');
    font-weight: normal;
    font-style: normal;
}
#point {
    position : relative ;
    /* top : 2vh ; */
    text-align:center ;
    width : 18vw ;
    font-size: 4vw ;
    font-family: 'myFont' ;
}
#record {
    position: relative ;
    left : 2vw ;
    width : 31vw ;
    font-size: 3vh ;
}
.qt {
    width : 20vw ;
    text-overflow: ellipsis ;
    overflow:hidden;
    margin-bottom: 0%;
}
#sta {
    width: 5vw ;
    font-size: calc(10px+1vw) ;
}
#ope {
    width: 5vw ;
    font-size: calc(10px+1vw) ;
}
hr {
    border: 3px solid white ;
    width : 140% ;
    border-radius: 3px ;
}
#qb {
    height: 30vh;
    overflow: scroll;
}
#t {
    position: relative ;
    top : 1vh ;
}
#reason {
    top : 30vh ;
}
#answer {
    top : 10vh ;
}
#ansbox {
    background-color: rgb(247, 233, 224) ;
}
.blueLetter{
    display: inline;
    color: #29ABE2;
    font-weight:bold;
}
.modal-content {
    background-image: url(../qna/我要發問.png);
    background-size: cover;
}
button {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #point {
        position : relative ;
        /* top : 0vh ; */
        text-align:center ;
        width : 57vw ;
        /* font-size: 8vh ; */
        font-family: 'myFont' ;
    }

}
@media only screen and (max-width: 1200px) {
    #point {
        position : relative ;
        /* top : 0vh ; */
        bottom: 3vh;
        text-align:center ;
        width : 57vw ;
        font-size: 8vh ;
        font-family: 'myFont' ;
    }
    #canvas {
        background-image : url("預設封面.png") ;
        background-position: center ;
        background-size: cover ;
        position: absolute;
        top : 56px ;
        z-index: 1 ;
        height: calc(52vh - 56px) ;
        width: 100vw ;
    }
    #box {
        position: absolute;
        top : 40vh ;
        left : calc(50vw - 12vh) ;
        z-index: 2 ;
        width : 24vh ;
    }
    #empty {
        display: none ;
    }
    #w1 {
        position: relative;
        color: rgb(170, 33, 63) ;
        top : 3px ;
        left : 0px ;
        font-size: 4vh ;
    }
    #score {
        position: absolute ;
        left :41vw ;
        top : 80vh ;
        height: 20vh ;
        width: 57vw ;
        background-color: rgb(244, 209, 207) ;
        text-align:center ;
    }
    #btn1 {
        position: absolute ;
        left :2vw ;
        top : 80vh ;
        width: 37vw ;
        height: 20vh ;
        color : rgb(0,44,144) ;
        background-color: rgb(201,210,225);
        border: none ;
        font-size : 5vh ;
    }
    #writing {
        position: absolute ;
        top: 102vh ;
        left : 2vw ;
        height: 41vh ;
        width: 96vw ;
        background-color: rgb(247, 233, 224) ;
    }
    #record {
        position: relative ;
        left : 2vw ;
        height: 40vw;
        width : 92vw ;
        font-size: 3vh ;
    }
    .qt {
        width : 55vw ;
        text-overflow: ellipsis ;
        overflow:hidden;
    }
    #ope {
        width: 16vw ;
        /* font-size: 5vw ; */
    }
    #sta {
        width: 21vw ;
        font-size: calc(10px+1vw) ;
    }
    hr {
        border: 3px solid white ;
        width : 160% ;
        border-radius: 3px ;
    }
    #w2 {
        position: relative;
        color : rgb(203, 138 , 120) ;
        width : 60vw ;
        top : 3px ;
        left : 10px ;
        font-size: 5vh ;
    }
    #btn2 {
        position: absolute;
        top :145vh ;
        left :2vw ;
        width: 96vw ;
        height: 10vh ;
        color : rgb(0,23,91) ;
        background-color: rgb(157,173,196);
        border: none ;
        font-size : 5vh ;
    } 
    #btn3 {
        position: absolute;
        top :157vh ;
        left :2vw ;
        width: 96vw ;
        height: 10vh ;
        color : rgb(0,16,94) ;
        background-color: rgb(121,135,161);
        border: none ;
        font-size : 5vh ;
    }
    footer{
        position: absolute;
        top : 169vh ;
        height: 4vh;
    }
}