.space {
    padding :1vh ;
}
#empty {
    height: 40vh ;
    width: 25vw ;
    background-color: white ;
}
#score {
    height: 40vh ;
    width: 17vw ;
    background-color: rgb(244, 209, 207) ;
}
#writing {
    height: 40vh ;
    width: 35vw ;
    background-color: rgb(247, 233, 224) ;
}
#btn1 {
    width: 18vw ;
    height: 12vh ;
    color : rgb(0,44,144) ;
    background-color: rgb(201,210,225);
    border: none ;
    font-size : 5vh ;
}
#btn2 {
    width: 18vw ;
    height: 12vh ;
    color : rgb(0,23,91) ;
    background-color: rgb(157,173,196);
    border: none ;
    font-size : 5vh ;
}
#btn3 {
    width: 18vw ;
    height: 12vh ;
    color : rgb(0,16,94) ;
    background-color: rgb(121,135,161);
    border: none ;
    font-size : 5vh ;
}
#pic {
    object-fit: cover ;
    height: 24vh ;
    width : 24vh ;
    border-radius : 12vh ;
    border-width: 10px;
    border-color: white ;
    border-style: solid;
}
#box {
    position: absolute;
    z-index: 2 ;
    width : 24vh ;
    top : 40vh ;
    left : 7vw ;
}
#namae {
    text-align:center;
}
#number {
    text-align:center;
}
#bighead {
    top:15vh;
}
#bground {
    top:15vh;
}
#w1 {
    position: relative;
    color: rgb(170, 33, 63) ;
    top : 3px ;
    left : 10px ;
    font-size: 5vh ;
}
#w2 {
    position: relative;
    color : rgb(203, 138 , 120) ;
    width : 31vw ;
    top : 3px ;
    left : 10px ;
    font-size: 5vh ;
}
#canvas {
    background-image : url("預設封面.png") ;
    background-position: center ;
    background-size: cover ;
    position: relative;
    z-index: 1 ;
    height: 45vh ;
    width: 99vw ;
}
#pic:hover {
    opacity: 0.5 ;
}
#pbox {
    background-image: url("點擊更改頭貼.png") ;
    background-position: center ;
    background-size: cover ;
    height: 24vh ;
    width : 24vh ;
    border-radius : 12vh ;
}
#changep {
    position: absolute;
    top : 30vh ;
}
@font-face {
    font-family: 'myFont';
    src: url('/personal/myFont.ttf');
    font-weight: normal;
    font-style: normal;
}
#point {
    position: relative;
    text-align:center ;
    font-size: 5vw ;
    font-family: 'myFont' ;
}
#record {
    position: relative ;
    left : 2vw ;
    width : 31vw ;
    font-size: 3vh ;
}
.qt {
    width : 20vw ;
    text-overflow: ellipsis ;
    overflow:hidden;
}
#sta {
    width: 5vw ;
}
#ope {
    width: 5vw ;
}
hr {
    border: 3px solid white ;
    width : 80% ;
    border-radius: 3px ;
}
#qb {
    height: 30vh;
    overflow: scroll;
}
#t {
    position: relative ;
    top : 1vh ;
}
#reason {
    top : 30vh ;
}
#answer {
    top : 10vh ;
}
#ansbox {
    background-color: rgb(247, 233, 224) ;
}
@media only screen and (max-width: 800px) {
    #canvas {
        background-image : url("預設封面.png") ;
        background-position: center ;
        background-size: cover ;
        position: relative;
        z-index: 1 ;
        height: 45vh ;
        width: 100vw ;
    }
    #box {
        position: absolute;
        top : 40vh ;
        left : calc(50vw - 12vh) ;
        z-index: 2 ;
        width : 24vh ;
    }
    #t {
        display: none ;
    }
}