<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel='stylesheet' href='club.css'>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <h1><%= title %></h1>
        
                
        <!-- edit Modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_club">編輯社團介紹</button>
        <div class="modal fade" id="edit_club" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">編輯社團</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form action="/groups/edit_club" method="post" accept-charset="utf-8">
                    <div class="form-group">
                        <label for="type" class="form-control">社團性質</label>
                        <select name="type" id="edit_type" class="form-control">
                                <option value="learn">學術性</option>
                                <option value="play">康樂性</option>
                                <option value="love">聯誼性</option>
                                <option value="service">服務性</option>
                        </select>
                      </div>
                        <div class="form-group">
                                <label for="name" class="form-control">社團名稱</label>
                                <input type="text" class="form-control" id="edit_name">
                              </div>
                              <div class="form-group">
                                <label for="introduction" class="form-control">社團介紹</label>
                                <textarea name="introduction" id="edit_introduction"></textarea></br>
                              </div>
                              <div class="form-group">
                                <label for="howtoadd" class="form-control">如何加入社團</label>
                                <textarea name="howtoadd" id="edit_howtoadd"></textarea></br>
                              </div>
                              <div class="form-group">
                                <label for="FBfans" class="form-control">FB粉絲團</label>
                                <textarea name="FBfans" id="edit_FBfans"></textarea></br>
                              </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary">儲存</button>
              </div>
            </div>
          </div>
        </div>  
          <div class="grid">
            <div class="btn-group-vertical">
              <button class="btn btn-primary btn-sm" type="submit">學術性</button>
              <button class="btn btn-primary btn-sm" type="submit">康樂性</button>
              <button class="btn btn-primary btn-sm" type="submit">聯誼性</button>
              <button class="btn btn-primary btn-sm" type="submit">服務性</button>
          </div>
        </div>

    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
