<script>
    
    $(document).ready(function(){

        let y =$(window).height();
        let h =(y-120)+"px"
        document.body.style.setProperty('--height', h);
        
        $(".learn").mousedown(function(){
            $(".learns").show();
            $(".plays").hide();
            $(".dates").hide();
            $(".services").hide();
        });

        $(".play").mousedown(function(){
            $(".plays").show();
            $(".learns").hide();
            $(".dates").hide();
            $(".services").hide();
        });

        $(".date").mousedown(function(){
            $(".dates").show();
            $(".learns").hide();
            $(".plays").hide();
            $(".services").hide();
        });

        $(".service").mousedown(function(){
            $(".services").show();
            $(".learns").hide();
            $(".plays").hide();
            $(".dates").hide();
        });
        
        <%_ if (user && user.role === 'admin'){ -%>
            CKEDITOR.replace('add_introduction',{
                filebrowserUploadUrl: '/uploader',
            });
            CKEDITOR.replace('add_participation',{
                filebrowserUploadUrl: '/uploader',
            });
            CKEDITOR.replace('add_FB',{
                filebrowserUploadUrl: '/uploader',
            });
            CKEDITOR.replace('add_activity',{
                filebrowserUploadUrl: '/uploader',
            });

            CKEDITOR.editorConfig = function (config){
                config.enterMode = CKEDITOR.ENTER_BR;
                config.autoParagraph = false;
            };
        <%_ } -%> 

        // 每次變更畫面大小時偵測
        $(window).resize(function(){
            if($(window).width()<=768){
                $("#nav_ul").removeClass("flex-column");
                $("#cellup").show();
                $(".bread").hide();
                $("#combut").hide();
                $(".sidedown").show();
                $(".titleup").show();
            }
            else if($(window).width()>768){
                $("#nav_ul").addClass("flex-column");
                $("#combut").show();
                $("#cellup").hide();
                $(".sidedown").hide();
                $("#combut").show();
                $(".titleup").hide();
            }
        });
        // 一開始偵測
        if($(window).width()<=768){
            $("#nav_ul").removeClass("flex-column");
            $("#cellup").show();
            $(".bread").hide();
            $("#combut").hide();
            $(".sidedown").show();
            $(".titleup").show();
        }
        else if($(window).width()>768){
            $("#nav_ul").addClass("flex-column");
            $("#combut").show();
            $("#cellup").hide();
            $(".sidedown").hide();
            $("#combut").show();
            $(".titleup").hide();
        }

        $('.open').click(function (event) {
            $.ajax({
                url: "clubmodal?id=" + event.currentTarget.attributes.search.value,
                method: "GET",
                error: function (err) {

                },
                success: function (data_club) {
                    $('#clubmodal .modal-title').text(data_club.name)
                    $('#clubmodal .intro').html(data_club.introduction)
                    $('#clubmodal .parti').html(data_club.participation)
                    $('#clubmodal .fb').html(data_club.FB)
                    $('#clubmodal .acti').html(data_club.activity)
                    
                    for (let i = 0; i < data_club.act_pic.length; i++) {
                        $('#carouselExampleIndicator2 .carousel-indicators').append("<li data-target='#carouselExampleIndicator2' data-slide-to='" + i + "'></li>")
                        $('#carouselExampleIndicator2 .carousel-inner').append("<div class='carousel-item'><img class='d-block' src='/groups/img/" + data_club.act_pic[i] + "'></div>")
                    }
                    $('#carouselExampleIndicator2 .carousel-indicators li').first().addClass('active')
                    $('#carouselExampleIndicator2 .carousel-inner div').first().addClass('active')
                    $('#clubmodal').on('hide.bs.modal', function (e) {
                        $('#carouselExampleIndicator2 .carousel-indicators li').remove()
                        $('#carouselExampleIndicator2 .carousel-inner .carousel-item').remove()
                        $('#clubmodal').off('hide.bs.modal')
                    })
                    // 開modal跳第一個按鈕
                    $('#clubmodal').on('shown.bs.modal', function (e) {
                        $('.nav .nav-link').removeClass('active show')
                        $('.nav .nav-link').first().addClass('active show')
                        $('#participation').removeClass('active show')
                        $('#FB').removeClass('active show')
                        $('#activity').removeClass('active show')
                        $('#introduction').addClass('active show')
                    })
                    
                    $('#clubmodal').modal('show')
                }
            })
        })
    });
</script>