<script>
    $(document).ready(function(){

        let y =$(window).height();
        let h =(y-65)+"px"
        document.body.style.setProperty('--height', h);
        <%_ if (user && user.role === 'admin'){ -%>

        CKEDITOR.replace('add_introduction',{
            filebrowserUploadUrl: '/uploader',
        });
        CKEDITOR.replace('add_participation',{
            filebrowserUploadUrl: '/uploader',
        });
        CKEDITOR.replace('add_FB',{
            filebrowserUploadUrl: '/uploader',
        });
        CKEDITOR.replace('add_activity',{
            filebrowserUploadUrl: '/uploader',
        });

        CKEDITOR.editorConfig = function (config){
            config.enterMode = CKEDITOR.ENTER_BR;
            config.autoParagraph = false;
        };
        <%_ } -%> 
        let com = ["com_1","com_2","com_3","com_4","com_5","com_6","com_7","com_8"]
        let cell = ["cell_1","cell_2","cell_3","cell_4","cell_5","cell_6","cell_7","cell_8"]
        $(window).resize(function(){
            if($(window).width()<768){
                $("#nav_ul").removeClass("flex-column");
                $(".box").hide();
                $(".main").hide();
                $(".astro").hide();
                $(".cell_box").show();
                $(".cell_alien").show();
                $(".cell_astro").show();
                for(let p=0;p<8;p++){
                    $("."+com[p]).hide();
                }
                for(let q=0;q<8;q++){
                    $("."+cell[q]).show();
                }
            }
            else if($(window).width()>768){
                $("#nav_ul").addClass("flex-column");
                $(".box").show();
                $(".main").show();
                $(".astro").show();
                $(".cell_box").hide();
                $(".cell_alien").hide();
                $(".cell_astro").hide();
                for(let p=0;p<8;p++){
                    $("."+com[p]).show();
                }
                for(let q=0;q<8;q++){
                    $("."+cell[q]).hide();
                }
                
            }
        });

        if($(window).width()<768){
            $("#nav_ul").removeClass("flex-column");
            $(".box").hide();
            $(".main").hide();
            $(".astro").hide();
            $(".cell_box").show();
            $(".cell_alien").show();
            $(".cell_astro").show();
            for(let p=0;p<8;p++){
                $("."+com[p]).hide();
            }
            for(let q=0;q<8;q++){
                $("."+cell[q]).show();
            }

        }
        else if($(window).width()>768){
            $("#nav_ul").addClass("flex-column");
            $(".box").show();
            $(".main").show();
            $(".astro").show();
            $(".cell_box").hide();
            $(".cell_alien").hide();
            $(".cell_astro").hide();
            for(let p=0;p<8;p++){
                $("."+com[p]).show();
            }
            for(let q=0;q<8;q++){
                $("."+cell[q]).hide();
            }
        }
        $('.open').click(function (event) {
            console.log(event);
            $.ajax({
                url: "commodal?name=" + event.currentTarget.attributes.search.value,
                method: "GET",
                error: function (err) {

                },
                success: function (data_com) {
                    console.log(data_com);
                    $('#commodal .modal-title').text(data_com.name)
                    $('#commodal .intro').html(data_com.introduction)
                    $('#commodal .parti').html(data_com.participation)
                    $('#commodal .fb').html(data_com.FB)
                    $('#commodal .acti').html(data_com.activity)
                    for (let i = 0; i < data_com.intro_pic.length; i++) {
                        $('#carouselExampleIndicator1 .carousel-indicators').append("<li data-target='#carouselExampleIndicator1' data-slide-to='" + i + "'></li>")
                        $('#carouselExampleIndicator1 .carousel-inner').append("<div class='carousel-item'><img class='d-block w-100' src='/groups/img/" + data_com.intro_pic[i] + "'></div>")
                    }
                    $('carouselExampleIndicator1 .carousel-indicators li').first().addClass('active')
                    $('#carouselExampleIndicator1 .carousel-inner div').first().addClass('active')
                    $('#commodal').on('hide.bs.modal', function () {
                        $('carouselExampleIndicator1 .carousel-indicators li').remove()
                        $('#carouselExampleIndicator1 .carousel-inner .carousel-item').remove()
                        $('#commodal').off('hide.bs.modal')
                    })
                    for (let i = 0; i < data_com.act_pic.length; i++) {
                        $('#carouselExampleIndicator2 .carousel-indicators').append("<li data-target='#carouselExampleIndicator2' data-slide-to='" + i + "'></li>")
                        $('#carouselExampleIndicator2 .carousel-inner').append("<div class='carousel-item'><img class='d-block w-100' src='/groups/img/" + data_com.act_pic[i] + "'></div>")
                    }
                    $('carouselExampleIndicator2 .carousel-indicators li').first().addClass('active')
                    $('#carouselExampleIndicator2 .carousel-inner div').first().addClass('active')
                    $('#commodal').on('hide.bs.modal', function () {
                        $('carouselExampleIndicator2 .carousel-indicators li').remove()
                        $('#carouselExampleIndicator2 .carousel-inner .carousel-item').remove()
                        $('#commodal').off('hide.bs.modal')
                    })

                    
                    $('#commodal').modal('show')
                }
            })
        })
    });
</script>