<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel='stylesheet' href='community.css'>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <!-- 麵包屑 -->
        <nav aria-label="breadcrumb" id="bread">
            <ol class="breadcrumb" id="breadcru">
                <li class="breadcrumb-item"><a href="/groups/department" id="text_stu">系所</a></li>
                <li class="breadcrumb-item"><a href="/groups/student" id="text">學生會</a></li>
                <li class="breadcrumb-item"><a href="/groups/club" id="text">社團</a></li>
                <li class="breadcrumb-item active" aria-current="page" id="text_at">其他學生組織</li>
            </ol>
        </nav>
        <!-- 要只讓管理員看到的東西 -->
        <%_ if (user && user.role === 'admin'){ -%>
            
        <!-- 新增圖片按鈕 -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                新增圖片
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">新增圖片</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="cominsert_img">
                    <div class="form-group">
                    <input type="file" name="uploadingImg">
                    <!-- 選擇圖片要放的位置 -->
                    <label for="pic_type" class="form-control">圖片位置</label>
                    <select name="pic_type" id="pic_type" class="form-control">
                        <option value="1">其他學生組織介紹</option>
                        <option value="2">活動剪影</option>
                    </select>
                    </div>
                    <div class="form-group">
                    <!-- 圖片所屬組織 -->
                    <label for="community_id" class="form-control">其他學生組織</label>
                    <select name="community_id" id="community_id" class="form-control">
                        <% for(var i in community){%>
                        <option value="<%= community[i]._id %>"><%= community[i].name %></option>
                        <%}%>
                    </select>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">上傳</button>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        <!-- 新增其他社團組織的Modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_community">新增/編輯學生組織</button><br></br>
        <div class="modal fade" id="add_community" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">新增/編輯學生組織</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/groups/add_community" method="post" accept-charset="utf-8">
                            <div class="form-group">
                                <label for="name" class="form-control">學生組織名稱</label>
                                <textarea name="name" rows="2" cols="55" id="add_name"></textarea></br>
                                </div>
                                <div class="form-group">
                                <label for="introduction" class="form-control">學生組織介紹</label>
                                <textarea name="introduction" rows="8" cols="55" id="add_introduction"></textarea></br>
                                </div>
                                <div class="form-group">
                                <label for="participation" class="form-control">如何加入學生組織</label>
                                <textarea name="participation" rows="5" cols="55" id="add_participation"></textarea></br>
                                </div>
                                <div class="form-group">
                                <label for="FB" class="form-control">FB粉絲團</label>
                                <textarea name="FB" rows="5" cols="55" id="add_FB"></textarea></br>
                                </div>
                                <div class="form-group">
                                <label for="activity" class="form-control">活動剪影</label>
                                <textarea name="activity" rows="4" cols="55" id="add_activity"></textarea></br>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                <button type="submit" class="btn btn-primary">儲存</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
        <%_ } -%>
        <div id="com_button">
            <img src="其他學生組織手機板1_去被.png" class="box">
            <img src="其他學生組織4去被.png" class="main">
            <img src="太空人抬頭_去被.png" class="astro">
            <a data-toggle="modal" data-target="#commodal"> 
                <img class="com_1 open" src="/groups/中央資管大數據暨程式設計研究社_去被.png" search="中央資管大數據暨程式設計研究社">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="com_2 open" src="/groups/耕新報_去被.png" search="耕新報">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="com_3 open" src="/groups/小中大電視台_去被.png" search="小中大電視台">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="com_4 open" src="/groups/創遊_去被.png" search="創遊">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="com_5 open" src="/groups/松濤電台_去被.png" search="松濤電台">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="com_6 open" src="/groups/NCU_Green_去被.png" search="NCU_Green">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="com_7 open" src="/groups/新生知訊網_去被.png" search="新生知訊網">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="com_8 open" src="/groups/小松鼠志工隊_去被.png" search="小松鼠志工隊">
            </a>
        </div>

        <div id="cell_button">
            <img src="其他學生組織正式手機板面板_去被.png" class="cell_box">
            <img src="太空人抬頭_去被.png" class="cell_astro">
            <img src="地底外星人_去被.png" class="cell_alien">
            <a data-toggle="modal" data-target="#commodal">
                <img class="cell_1 open" src="/groups/中央資管大數據暨程式設計研究社_去被.png" search="中央資管大數據暨程式設計研究社">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="cell_2 open" src="/groups/耕新報_去被.png" search="耕新報">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="cell_3 open" src="/groups/小中大電視台_去被.png" search="小中大電視台">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="cell_4 open" src="/groups/創遊_去被.png" search="創遊">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="cell_5 open" src="/groups/松濤電台_去被.png" search="松濤電台">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="cell_6 open" src="/groups/NCU_Green_去被.png" search="NCU_Green">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="cell_7 open" src="/groups/新生知訊網_去被.png" search="新生知訊網">
            </a>
            <a data-toggle="modal" data-target="#commodal">
                <img class="cell_8 open" src="/groups/小松鼠志工隊_去被.png" search="小松鼠志工隊">
            </a>
        </div>
        
            <!-- 社團介紹 Modal -->
            <div class="modal fade bd-example-modal-lg " role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="commodal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel"></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div id="scroll_nav">
                                    <ul class="nav nav-pills flex-column" id="nav_ul">
                                        <li id="modal_button" class="firstopen"><a class="nav-link active" data-toggle="pill" id="nav_a" href="#introduction">學生組織介紹</a></li>
                                        <li id="modal_button"><a class="nav-link" data-toggle="pill" id="nav_a" href="#participation">加入學生組織</a></li>
                                        <li id="modal_button"><a class="nav-link" data-toggle="pill" id="nav_a" href="#FB">FB粉絲團</a></li>
                                        <li id="modal_button"><a class="nav-link" data-toggle="pill" id="nav_a" href="#activity">活動剪影</a></li>
                                    </ul>
                                </div>
                                <Br>
                                <div class="tab-content">
                                    <div id="introduction" class="tab-pane active">
                                        <h5>學生組織介紹</h5>  
                                        <h6 class="intro"></h6>  
                                        <div id="carouselExampleIndicator1" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators" id="carousel2">
            
                                            </ol>
                                            <div class="carousel-inner">
            
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleIndicator1" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleIndicator1" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="participation" class="tab-pane fade in">
                                        <h5>加入學生組織</h5>
                                        <h6 class="parti"></h6>
                                    </div>
                                    <div id="FB" class="tab-pane fade in">
                                        <h5>FB粉絲團</h5>
                                        <h6 class="fb"></h6>
                                    </div>
                                    <div id="activity" class="tab-pane fade in">
                                        <h5>活動剪影</h5>
                                        <h6 class="acti"></h6>
                                        <div id="carouselExampleIndicator2" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators" id="carousel2">
                
                                                </ol>
                                                <div class="carousel-inner">
                
                                                </div>
                                                <a class="carousel-control-prev" href="#carouselExampleIndicator2" role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselExampleIndicator2" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> 
        
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include community_js %>
</body>
</html>
