<script>
    let player = Object();
    function onYouTubeIframeAPIReady() {//此函數在IFrame Player API code 載入後將自動呼叫
        $(".player").each(function(){
            // console.log(this.id);
            //console.log($(this));
            let id=this.id;
            player[id] = new YT.Player(id, {
                height: '390',
                width: '640',
                videoId: id, //Youtube ID
                enablejsapi: 1,
                origin: 'http://localhost:3000'

            });
        })
    }

    $(document).ready(function(){
        
        let y =$(window).height();
        let h =(y-120)+"px"
        document.body.style.setProperty('--height', h);

        /* club的方法太冗長,利用for迴圈縮減篇幅 */
        let depart_type = [["文學院","literature"],["理學院","science"],["管理學院","management"],["工學院","engineering"],["資訊電機學院","csee"],["地球科學學院","earth"],["客家學院","hakka"],["生醫理工學院","chst"]]

        //載入IFrame Player API code
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var currentid="" ;

        $(document).on("click","#nav_i",function(evnt){
            currentid = $(this).attr('ytID');
            console.log("後")
            console.log(currentid);
            console.log(player[currentid]);

        })
        $(document).on("click","#nav_a",function(event){
            console.log("前")
            console.log(currentid);
            console.log(player[currentid]);
            if(currentid != ""){
                player[currentid].pauseVideo();
            }
            console.log("後")
            console.log(currentid);
            console.log(player[currentid]);
        })
        $('#depmodal').on('hide.bs.modal', function (e) {
            if(currentid != ""){
                player[currentid].pauseVideo();
            }
        })        
        /* 字串要分開打 */
        for(let p = 0; p<8 ; p++){
            $("."+depart_type[p][1]+"_button").mousedown(function(){
                /* 設定show hide的情況 */
                if(p==0){
                    $("."+depart_type[p][1]+"_table").show();
                    for(let q = p+1 ;q < 8 ; q++){
                        $("."+depart_type[q][1]+"_table").hide();
                    }
                }
                else{
                    $("."+depart_type[p][1]+"_table").show();
                    for(let m=0; m<p ; m++){
                        $("."+depart_type[m][1]+"_table").hide();
                    }
                    for(let n=p+1; n<8 ; n++){
                        $("."+depart_type[n][1]+"_table").hide();
                    }
                }
            });
        }
        <%_ if (user && user.role === 'admin'){ -%>

        CKEDITOR.replace('edit_introduction',{
            filebrowserUploadUrl: '/uploader',
        });

        CKEDITOR.replace('edit_organization',{
            filebrowserUploadUrl: '/uploader',
        });

        CKEDITOR.replace('edit_activity',{
            filebrowserUploadUrl: '/uploader',
        });

        CKEDITOR.replace('edit_team',{
            filebrowserUploadUrl: '/uploader',
        });

        CKEDITOR.replace('edit_course',{
            filebrowserUploadUrl: '/uploader',
        });
        
        CKEDITOR.editorConfig = function (config){
            config.enterMode = CKEDITOR.ENTER_BR;
            config.autoParagraph = false;
        };
        <%_ } -%> 
       

        $(window).resize(function(){
            if($(window).width()<=768){
                <% for(var i in department){ %>
                    $("#nav_ul-<%= department[i]._id %>").removeClass("flex-column"); 
                <% } %>
                $("#cellup").show();
                $("#combut").hide();
                $(".sidedown").show();
                $(".titleup").show();

                
            }
            else if($(window).width()>768){
                <% for(var i in department){ %>
                    $("#nav_ul-<%= department[i]._id %>").addClass("flex-column"); 
                <% } %>
                $("#cellup").hide();
                $(".sidedown").hide();
                $("#combut").show();
                $(".titleup").hide();
                
            }
        });

        if($(window).width()<=768){
            <% for(var i in department){ %>
                $("#nav_ul-<%= department[i]._id %>").removeClass("flex-column"); 
            <% } %>
            $("#cellup").show();
            $("#combut").hide();
            $(".sidedown").show();
            $(".titleup").show();

        }
        else if($(window).width()>768){
            <% for(var i in department){ %>
                $("#nav_ul-<%= department[i]._id %>").addClass("flex-column"); 
            <% } %>
            $("#cellup").hide();
            $("#combut").show();
            $(".sidedown").hide();
            $(".titleup").hide();
        }

        
        $('.open').click(function (event) {
            //console.log(event);
            $.ajax({
                url: "depmodal?id=" + event.currentTarget.attributes.search.value,
                method: "GET",
                error: function (err) {

                },
                success: function (data_dep) {
                    console.log(data_dep);
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' .modal-title').text(data_dep.name)
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' .intro').html(data_dep.introduction)
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' .org').html(data_dep.organization)
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' .acti').html(data_dep.activity)
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' .team').html(data_dep.team)
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' .cour').html(data_dep.course)

                    for (let i = 0; i < data_dep.intro_pic.length; i++) {
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator1 .carousel-indicators').append("<li data-target='#carouselExampleIndicator1' data-slide-to='" + i + "'></li>")
                        console.log($('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator1 .carousel-inner'));
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator1 .carousel-inner').append("<div class='carousel-item'><img class='d-block' src='/groups/img/" + data_dep.intro_pic[i] + "'></div>")
                    }
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator1 .carousel-indicators li').first().addClass('active')
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator1 .carousel-inner div').first().addClass('active')
                    $('#depmodal-'+  event.currentTarget.attributes.search.value).on('hide.bs.modal', function (e) {
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator1 .carousel-indicators li').remove()
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator1 .carousel-inner .carousel-item').remove()
                        $('#depmodal-'+  event.currentTarget.attributes.search.value).off('hide.bs.modal')
                    })
                    
                    for (let i = 0; i < data_dep.organ_pic.length; i++) {
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator2 .carousel-indicators').append("<li data-target='#carouselExampleIndicator2' data-slide-to='" + i + "'></li>")
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator2 .carousel-inner').append("<div class='carousel-item'><img class='d-block' src='/groups/img/" + data_dep.organ_pic[i] + "'></div>")
                    }
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator2 .carousel-indicators li').first().addClass('active')
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator2 .carousel-inner div').first().addClass('active')
                    $('#depmodal-'+  event.currentTarget.attributes.search.value).on('hide.bs.modal', function (e) {
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator2 .carousel-indicators li').remove()
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator2 .carousel-inner .carousel-item').remove()
                        $('#depmodal-'+  event.currentTarget.attributes.search.value).off('hide.bs.modal')
                    })

                    for (let i = 0; i < data_dep.act_pic.length; i++) {
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator3 .carousel-indicators').append("<li data-target='#carouselExampleIndicator3' data-slide-to='" + i + "'></li>")
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator3 .carousel-inner').append("<div class='carousel-item'><img class='d-block' src='/groups/img/" + data_dep.act_pic[i] + "'></div>")
                    }
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator3 .carousel-indicators li').first().addClass('active')
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator3 .carousel-inner div').first().addClass('active')
                    $('#depmodal-'+  event.currentTarget.attributes.search.value).on('hide.bs.modal', function (e) {
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator3 .carousel-indicators li').remove()
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator3 .carousel-inner .carousel-item').remove()
                        $('#depmodal-'+  event.currentTarget.attributes.search.value).off('hide.bs.modal')
                    })

                    for (let i = 0; i < data_dep.team_pic.length; i++) {
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator4 .carousel-indicators').append("<li data-target='#carouselExampleIndicator4' data-slide-to='" + i + "'></li>")
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator4 .carousel-inner').append("<div class='carousel-item'><img class='d-block' src='/groups/img/" + data_dep.team_pic[i] + "'></div>")
                    }
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator4 .carousel-indicators li').first().addClass('active')
                    $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator4 .carousel-inner div').first().addClass('active')
                    $('#depmodal-'+  event.currentTarget.attributes.search.value).on('hide.bs.modal', function (e) {
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator4 .carousel-indicators li').remove()
                        $('#depmodal-'+  event.currentTarget.attributes.search.value +' #carouselExampleIndicator4 .carousel-inner .carousel-item').remove()
                        $('#depmodal-'+  event.currentTarget.attributes.search.value).off('hide.bs.modal')
                    })


                    
                    
                    $('#depmodal-'+  event.currentTarget.attributes.search.value).modal('show')
                }
            })
        })

    });
</script>