<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel='stylesheet' href='index.css'>

</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <div id="com_all">
            <img class="side" src="/groups/系所社團網頁版零件_按鈕置放去被.png">  
            <a href="" aria-pressed="true">
                <img class="index_title" src="/groups/正式版系所社團按鈕_去被.png">
            </a>
            <a href="/groups/club" aria-pressed="true">
                <img class="index_club" src="/groups/正式版社團按鈕_去被.png">
            </a>
            <a href="/groups/student" aria-pressed="true">
                <img class="index_student" src="/groups/正式版學生會按鈕_去被.png">
            </a>
            <a href="/groups/department" aria-pressed="true">
                <img class="index_department" src="/groups/正式版系所按鈕_去被.png">
            </a>
            <a href="/groups/community" aria-pressed="true">
                <img class="index_community" src="/groups/正式版組織按鈕_去被.png">
            </a>    
        </div>
        <div id="cell_all">
            <div id="cell_department">
                <a href="/groups/department" aria-pressed="true">
                    <img class="cell_department" src="/groups/手機板地底星零件_去被.png">
                </a>
                <a href="/groups/department" aria-pressed="true">
                    <img class="cell_department_text" src="/groups/按鈕文字_系所_去被.png">
                </a>
            </div>
            <div id="cell_community">
                <a href="/groups/community" aria-pressed="true">
                    <img class="cell_community" src="/groups/手機板月球零件_去被.png">
                </a>
                <a href="/groups/club" aria-pressed="true">
                    <img class="cell_community_text" src="/groups/組織按紐文字_去被.png">
                </a>
            </div> 
            <div id="cell_club">
                <a href="/groups/club" aria-pressed="true">
                    <img class="cell_club" src="/groups/手機板海洋星零件_去被.png">
                </a>
                <a href="/groups/club" aria-pressed="true">
                    <img class="cell_club_text" src="/groups/按鈕文字_社團_去被.png">
                </a>
            </div>
            <div id="cell_student">
                <a href="/groups/student" aria-pressed="true">
                    <img class="cell_student" src="/groups/手機板工業零件_去被.png">
                </a>
                <a href="/groups/student" aria-pressed="true">
                    <img class="cell_student_text" src="/groups/圖片1去被.png">
                </a>
            </div>
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
    <% include index_js %>
</body>
</html>
