<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <h1><%= title %></h1>
        <div class="all">
            <a href="/groups/club"><b>社團</b></a>
            <a href="/groups/community"><b>社群</b></a>
            <a href="/groups/student"><b>學生會</b></a>
            <a href="/groups/department"><b>系所</b></a>
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
