<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel='stylesheet' href='index.css'>

</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <h1><%= title %></h1>
        <div id="all">
            <a href="/groups/club" class="btn btn-primary" role="button" aria-pressed="true">社團</a><br></br>
            <a href="/groups/student" class="btn btn btn-primary" role="button" aria-pressed="true">學生會</a><br></br>
            <a href="/groups/department" class="btn btn btn-primary" role="button" aria-pressed="true">系所</a><br></br>
            <a href="/groups/community" class="btn btn btn-primary" role="button" aria-pressed="true">其他學生組織</a><br></br>
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
</body>
</html>
