<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel='stylesheet' href='index.css'>

</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <div id="all">
            <img class="side" src="/groups/系所社團網頁版零件_按鈕置放去被.png">  
            <a href="" aria-pressed="true">
                <img class="index_title" src="/groups/正式版系所社團按鈕_去被.png">
            </a>
            <a href="/groups/club" aria-pressed="true">
                <img class="index_club" src="/groups/正式版社團按鈕_去被.png">
            </a>
            <a href="/groups/student" aria-pressed="true">
                <img class="index_student" src="/groups/正式版學生會按鈕_去被.png">
            </a>
            <a href="/groups/department" aria-pressed="true">
                <img class="index_department" src="/groups/正式版系所按鈕_去被.png">
            </a>
            <a href="/groups/community" aria-pressed="true">
                <img class="index_community" src="/groups/正式版組織按鈕_去被.png">
            </a>    
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
</body>
</html>
