<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel='stylesheet' href='student.css'>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <!-- 麵包屑 -->
        <div class="bread">
            <nav aria-label="breadcrumb" id="bread">
                <ol class="breadcrumb" id="breadcru">
                    <li class="breadcrumb-item" ><a href="/groups/department" id="text_stu" >系所</a></li>
                    <li class="breadcrumb-item active" aria-current="page" id="text_at" >學生會</li>
                    <li class="breadcrumb-item" ><a href="/groups/club" id="text">社團</a></li>
                    <li class="breadcrumb-item" ><a href="/groups/community" id="text">其他學生組織</a></li>
                </ol>
            </nav>
        </div>
        <div id="stu_title">
            <img src="學生會標題_去被.png" class="main"><br>
        </div>
        <div id="stu_button">
            <img src="圖片1.png" class="button_place">
            <a data-toggle="modal" data-target="#intro">
                <img class="stu_intro" src="/groups/簡介按鈕_去被.png">
            </a>
            <a data-toggle="modal" data-target="#branch">
                <img class="stu_branch" src="/groups/部門介紹按鈕_去被.png">
            </a>
            <a data-toggle="modal" data-target="#stumodal">
                <img class="stu_activity open" src="/groups/活動剪影按鈕_去被.png" search="<%= student[0]._id %>">
            </a>
        </div>

        <%_ if (user && user.role === 'admin'){ -%>
        <!-- 新增圖片按鈕 -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="update1">
            新增圖片
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">新增圖片</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="studentinsert_img">
                    <div class="form-group">
                    <input type="file" name="uploadingImg">
                    <!-- 選擇圖片要放的位置 -->
                    <label for="pic_type" class="form-control">圖片位置</label>
                    <select name="pic_type" id="pic_type" class="form-control">
                        <option value="1">簡介</option>
                        <option value="2">活動剪影</option>
                    </select>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">上傳</button>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
        <!-- edit Modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_student" id="update2">編輯學生會介紹</button><br></br>
        <div class="modal fade" id="edit_student" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">學生會介紹</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               <div class="modal-body">
                   <form action="/groups/edit_student" method="post" accept-charset="utf-8">
                        <div class="form-group">
                            <label for="introduction" class="form-control">簡介</label>
                            <textarea name="introduction" id="edit_introduction"></textarea></br>
                        </div>
                        <div class="form-group">
                            <label for="branch" class="form-control">部門介紹</label>
                            <textarea name="branch" id="edit_branch"></textarea></br>
                        </div>
                        <div class="form-group">
                            <label for="activity" class="form-control">活動剪影</label>
                            <textarea name="activity" id="edit_activity"></textarea></br>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button type="submit" class="btn btn-primary">儲存</button>
                    </div>
                   </form>
                </div>
            </div>
           </div>
        </div>
        <%_ } -%>

        <!-- 簡介 Modal -->
        <div class="modal fade bd-example-modal-lg " role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="intro">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">簡介</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <h6><%- student[0].introduction %></h6>
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 部門介紹 Modal -->
        <div class="modal fade bd-example-modal-lg " role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="branch">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">部門介紹</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <h6><%- student[0].branch %></h6>  
                        </div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 活動剪影 Modal -->
        <div class="modal fade bd-example-modal-lg " role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="stumodal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">活動剪影</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">  
                            <h6 class="acti"></h6>

                            <div id="carouselExampleIndicator1" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators" id="carousel1">

                                </ol>
                                <div class="carousel-inner">

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicator1" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicator1" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include student_js %>
</body>
</html>
