body{
    background-image: url(社團飛船修正版海洋背景.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
ul{
    float:left;
}

h6{
    margin-top: 2%;
    margin-left: 18%;
    border-left: 6px solid lightgreen;
    border-bottom: 40px;
    background-color: rgb(250, 250, 221);
    font-size: 17px;
    border-spacing:50px;
    padding-left:10px; 
    width: 100%;
    word-wrap: break-word;
    max-width: 550px;
    max-height: 300px;
    overflow-y: auto;
    line-height: 26px;
    letter-spacing: 1px;
}

h3{
    color: rgb(32, 243, 180);
    font-size: 40px;
    margin-left: 2%;
}
h5{
    margin-left: 18%;
    color: white;
    font-size: 30px;
}

#bread{
    float:left;
    width: 25%;
}
#breadcru{
    background-color: black;
    opacity: 0.8;
}
#text_at{
    color: rgb(0, 162, 255);
    opacity: 1;
    font-size: 1.3vw;
}
#text{
    opacity: 1;
    color: white;
    font-size: 1.3vw;
}
/* .typelearn_name{
    margin-left: 5%;
}
.typeplay_name{
    margin-left: 5%;
}
.typedate_name{
    margin-left: 5%;
}
.typeservice_name{
    margin-left: 5%;
} */

h4{
    margin-top: 3%;
    margin-left:68%;  
}

/* button{
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
} */
button:hover {
    background-color: rgb(43, 78, 233);
    color: white;
}

table{
    background-image: url(系所社團飛船修正版地底背景2_去被.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left; 
    float: right;
    margin-right: 3%;
    margin-top: 12%;
    opacity: 0.7;
}

thead{
    text-align: center;
    font-size:2.4vw;
    color: white;
}

tbody{
    float:center;
    display: block;
    height: 40vh;
    overflow-y: scroll;
    border-collapse: collapse;
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
    width:29vw;

}

td{
    float: left;
    font-size: 1.8vw;
}
#tabletext{
    color: white;
}

#carouselExampleIndicators{
    max-width: 400px;
    max-height: 300px;
    float: left;
    margin-left: 18%;
}

/* ol{
    height: 10px;
} */

.plays, .dates, .services{
    display: none;
}

#carouselExampleIndicator{
    
    float: left;
    margin-left: 10%;
}



.modal-content{
    background-image: url(彈出視窗背景.png);
    
}

.modal{
  margin-top: 5%;  
}

#modal_button{ 
    margin-top: 8px;
    width: 90px;
    padding-top:8px; 
    padding-bottom: 8px;
    border-radius: 10%;
    text-align: center;
}

#nav_a{
    font-size: 17px;
    color: white;
}

#nav_ul{
    margin-top: 8%;
}

#modal_button:hover{
    box-shadow: 0 14px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
#combut{
    position: relative;
    display: inline-block;
    margin-top: 10%;
    transform: translateX(-23vw);

}
.leftbox{
    opacity: 0.7;
    width: 30vw;
    float: left;
    position: relative;
}

#learn, #play, #date, #service{
    background-color: rgb(255, 255, 255, 0);
    color: white;    
    font-size: 2.4vw;
    position: absolute;
    border-radius: 1vh;
}

#learn{
    top: 20%;
    left: 25%;
}
#play{
    top: 38%;
    left: 35%;
}
#date{
    top: 56%;
    left: 45%;
}
#service{
    top: 74%;
    left: 55%;
}
@media screen and (max-width: 768px){
    body{
        background-image: url(社團手機板背景.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
    }
    #cellup{
        position: relative;
        display: inline-block;
        margin-left: 7%;
        margin-top: 10%;
    }
    .modal{
        margin-top: 5%;
    }
    .modal .modal-body {
        height: var(--height);
        overflow: auto;
    }
    #nav_a{
        font-size: 12px;
    }
    #modal_button{ 
        margin-top: 3px;
        width: 60px;
        border-radius: 10%;
        text-align: center;
    }
    #nav_ul{
        margin-top: 2%;
        margin-left: 18%;
        overflow-x: scroll;
    }
    h5{
        margin-left: 6%;
        font-size: 15px;
        margin-top:12%;
    }
    h6{
        margin-top: 2%;
        margin-left: 5%;
        border-left: 6px solid lightgreen;
        border-bottom: 40px;
        background-color: rgb(250, 250, 221);
        font-size: 14px;
        border-spacing:50px;
        padding-left:10px; 
        width: 100%;
        word-wrap: break-word;
        max-width: 280px;
        max-height: 300px;
        overflow-y: auto;
        line-height: 26px;
        letter-spacing: 1px;
    }
    #carouselExampleIndicators{
        max-width: 400px;
        max-height: 300px;
        float: left;
        margin-left: 5%;
    }
}