.nav{
    padding:12px 12px;
}

p{
    margin-top: 2%;
}

.club_name{
    margin-left: 70%;
}

h4{
    margin-top: 3%;
    margin-left:68%;  
}

button{
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
button:hover {
    background-color: rgb(43, 78, 233);
    color: white;
}

