#modal_button{ 
    border-style:outset;
    padding-top:13px; 
    padding-bottom: 13px;
}

ul{
    float:left;
}

.btn-group-vertical{
    float:left;
    margin-left: 5%;
    padding: 20px;
}
p{
    margin-top: 2%;
    margin-left: 30%;
}
h5{
    margin-left: 20%;
}

.typelearn_name{
    margin-left: 5%;
}
.typeplay_name{
    margin-left: 5%;
}
.typedate_name{
    margin-left: 5%;
}
.typeservice_name{
    margin-left: 5%;
}

h4{
    margin-top: 3%;
    margin-left:68%;  
}

button{
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
button:hover {
    background-color: rgb(43, 78, 233);
    color: white;
}

table{
    float: right;
    background-color: papayawhip;
    margin-right: 20%;
    margin-top: 3%;
}

thead{
    text-align: center;
    font-size:20px;
}

tbody{
    float:center;
    display: block;
    height: 195px;
    overflow-y: scroll;
    border-collapse: collapse;
    text-align: left;
}

table, th {
    border: 1px solid darkgray;
}

td{
    width:200px;
    float: left;
}

#carouselExampleIndicators{
    width: 40%;
    height: 40%;
    float: left;
    margin-left: 10%;
}

/* ol{
    height: 10px;
} */

.plays, .dates, .services{
    display: none;
}

#carouselExampleIndicator{
    width: 40%;
    height: 40%;
    float: left;
    margin-left: 10%;
}

#bread{
    opacity: 0.8;
    width: 23%;
}