
#modal_button{ 
    margin-top: 8px;
    width: 120px;
    padding-top:8px; 
    padding-bottom: 8px;
    border-radius: 10%;
    text-align: center;
}

ul{
    float:left;
}

h5{
    margin-left: 18%;
    color: white;
    font-size: 30px;
}

h3{
    color: rgb(32, 243, 180);
    font-size: 40px;
    margin-left: 2%;
}
.modal-content{
    background-image: url(彈出視窗背景.png);
}

.modal{
  margin-top: 5%;  
}

#nav_a{
    font-size: 17px;
    color: white;
}
#nav_a:focus{
    color: rgb(7, 56, 112);
}
.nav-link{
    background-color: rgb(255, 255, 255,0);
    display: block;
    padding: 0.4rem 0rem;
}
.nav-pills .nav-link.active{
    background-color: rgb(98, 224, 255);
}

#nav_ul{
    margin-top: 5%;
}

#modal_button:hover{
    box-shadow: 0 14px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
h6{
    margin-top: 2%;
    margin-left: 18%;
    border-left: 6px solid lightgreen;
    border-bottom: 40px;
    background-color: rgb(250, 250, 221);
    font-size: 17px;
    border-spacing:50px;
    padding-left:10px; 
    width: 100%;
    word-wrap: break-word;
    max-width: 550px;
    max-height: 300px;
    overflow-y: auto;
    line-height: 26px;
    letter-spacing: 1px;
}


#carouselExampleIndicators{
    max-width: 400px;
    max-height: 300px;
    float: left;
    margin-left: 13%;
}

/* 差一個s */
#carouselExampleIndicator{
    width: 40%;
    height: 40%;
    float: right;
}

#com_button{
    position: relative;
    display: inline-block;
    margin-left: 12%;
    margin-top: 4%;
}

.main{
    width:28vw;
    position: absolute;
    right: 80%;
}
.astro{
    width: 7vw;
    left: 100%;
    top: 75%;
    position: absolute;
}
.astro:hover{
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}
.box{
    width:32vw;
    position: relative;
    left: 30%;
    float: right;
}
.com_1{
    width: 16vw;
    position: absolute;
    left: 65%;
    top:11.5%;
}
.com_1:hover{
    transform: scale(1.1);
}
.com_2{
    width: 9vw;
    position: absolute;
    left: 45%;
    top:26%;
}
.com_2:hover{
    transform: scale(1.1);
}
.com_3{
    width: 15vw;
    position: absolute;
    left: 45%;
    top:40%;
}
.com_3:hover{
    transform: scale(1.1);
}
.com_4{
    width: 6.5vw;
    position: absolute;
    left: 95%;
    top:39%;
}
.com_4:hover{
    transform: scale(1.1);
}
.com_5{
    width: 10vw;
    position: absolute;
    left: 44%;
    top:53%;
}
.com_5:hover{
    transform: scale(1.1);
}
.com_6{
    width: 11.5vw;
    position: absolute;
    left: 80%;
    top:54%;
}
.com_6:hover{
    transform: scale(1.1);
}
.com_7{
    width: 15vw;
    position: absolute;
    left: 46%;
    top:65.5%;
}
.com_7:hover{
    transform: scale(1.1);
}
.com_8{
    width: 16vw;
    position: absolute;
    left: 50%;
    top:76%;
}
.com_8:hover{
    transform: scale(1.1);
}
#bread{
    float:left;
    width: 25vw;
}
#breadcru{
    background-color: black;
    opacity: 0.8;
}
#text_at{
    color: rgb(0, 162, 255);
    opacity: 1;
    font-size: 1.3vw;
}
#text{
    opacity: 1;
    color: white;
    font-size: 1.3vw;
}



body{
    background-image: url(其他學生組織背景圖修正版.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


@media screen and (max-width: 768px){
    
    .modal{
        z-index: 4100;
        margin-top: 0%;
    }
    .modal .modal-body {
        height: var(--height);
        overflow: auto;
    }
    #nav_a{
        font-size: 12px;
    }
    #nav_ul{
        margin-top: 0%;
        margin-left: 12%;
        flex-wrap: nowrap;
    }
    #scroll_nav{
        overflow-x: scroll;
    }
    #modal_button{ 
        margin-top: 3px;
        width: 100px;
        border-radius: 10%;
        text-align: center;
    }
    h5{
        margin-left: 6%;
        font-size: 20px;
    }
    h6{
        margin-top: 2%;
        margin-left: 5%;
        border-left: 6px solid lightgreen;
        border-bottom: 38px;
        background-color: rgb(250, 250, 221);
        font-size: 14px;
        border-spacing:50px;
        padding-left:10px; 
        width: 100%;
        word-wrap: break-word;
        max-width: 280px;
        max-height: 300px;
        overflow-y: auto;
        line-height: 26px;
        letter-spacing: 1px;
    }
    #carouselExampleIndicators{
        max-width: 400px;
        max-height: 300px;
        float: left;
        margin-left: 5%;
    }

    #cell_button{
        position: relative;
        display: inline-block;
        margin-left: 5%;
     }
    .cell_box{
        width: 80vw;
        position: relative;
        float:right;
    }
    .cell_astro{
        width: 19vw;
        right: 0%;
        top: 75%;
        position: absolute;
    }
    
    .cell_alien{
        width:29vw;
        position: absolute;
        top:72%;
        right: 74%;
    }

    .cell_1{
        width: 44vw;
        position: absolute;
        right: 13%;
        top:18%;
    }
    .cell_2{
        width: 23vw;
        position: absolute;
        left: 14%;
        top: 32%;
    }
    .cell_3{
        width: 40vw;
        position: absolute;
        left: 13%;
        top: 44%;
    }
    .cell_4{
        width: 17vw;
        position: absolute;
        right: 14%;
        top: 43%;
    }
    .cell_5{
        width: 27.5vw;
        position: absolute;
        left: 12%;
        top:56%;
    }
    .cell_6{
        width: 31vw;
        position: absolute;
        right: 12%;
        top: 56.5%;
    }
    .cell_7{
        width: 43vw;
        position: absolute;
        left: 14%;
        top: 66%;
    }
    .cell_8{
        width: 46vw;
        position: absolute;
        left: 19%;
        top:76%;
    }
    /* 麵包屑 */
    #bread{
        float:left;
        width: 10%;
        opacity: 0.8;
    }
    #text{
        font-size: 3.5vw;
    }
    #text_at{
        font-size: 3.8vw;
        float: left;
        text-align: center;
    }
    .breadcrumb {
        padding: .75rem 0.5rem;
    }
    
}

