.mainbutton{
    margin-left: 70%;
}

#modal_button{ 
    border-style:outset;
    padding-top:13px; 
    padding-bottom: 13px;
}

ul{
    float:left;
}

h5{
    margin-left: 30%;
}

p{
    margin-top: 2%;
    margin-left: 30%;
}