body{
    background-image: url(系所飛船修正版地底背景.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}


.modal-body {
    position:relative;
}


#bread{
    float:left;
    width: 25%;
}
#breadcru{
    background-color: black;
    opacity: 0.8;
}
#text_at{
    color: rgb(0, 162, 255);
    opacity: 1;
    font-size: 1.3vw;
}
#text{
    opacity: 1;
    color: white;
    font-size: 1.3vw;
}
/* button{
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
} */
button:hover {
    background-color: rgb(43, 78, 233);
    color: white;
}

h4{
    margin-top: 3%;
    margin-left:68%;  
}

h5{
    margin-left: 20%;
}

table{
    background-image: url(系所社團飛船修正版地底背景2_去被.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left; 
    float: right;
    margin-right: 3%;
    margin-top: 12%;
    opacity: 0.7;
}

thead{
    text-align: center;
    font-size:2.4vw;
    color: white;
}

tbody{
    float:center;
    display: block;
    height: 40vh;
    overflow-y: scroll;
    border-collapse: collapse;
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
    width:29vw;

}

td{
    float: left;
    font-size: 1.7vw;
}
#tabletext{
    color: white;
}

.science_table, .management_table, .engineering_table, .csee_table, .earth_table, .hakka_table, .chst_table{
    display: none;
}

.CDplayer {
    position: relative;
    overflow: hidden;
    margin-left: 15%;
}

      

h6{
    margin-top: 2%;
    margin-left: 18%;
    border-left: 6px solid lightgreen;
    border-bottom: 40px;
    background-color: rgb(250, 250, 221);
    font-size: 17px;
    border-spacing:50px;
    padding-left:10px; 
    width: 100%;
    word-wrap: break-word;
    max-width: 550px;
    max-height: 300px;
    overflow-y: auto;
    line-height: 26px;
    letter-spacing: 1px;
    
}

h3{
    color: rgb(32, 243, 180);
    font-size: 40px;
    margin-left: 2%;
}
h5{
    margin-left: 18%;
    color: white;
    font-size: 30px;
}


.modal-content{
    background-image: url(彈出視窗背景.png);
}

.modal{
  margin-top: 5%;  
}

#modal_button{ 
    margin-top: 8px;
    width: 90px;
    padding-top:8px; 
    padding-bottom: 8px;
    border-radius: 10%;
    text-align: center;
}

#nav_a{
    font-size: 17px;
    color: white;
}

#nav_ul{
    margin-top: 6%;
}

#modal_button:hover{
    box-shadow: 0 14px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
#combut{
    position: relative;
    display: inline-block;
    margin-top: 10%;
    transform: translateX(-23vw);
    
}
.leftbox{
    float: left;
    opacity: 0.7;
    width: 30vw;
    position: relative;
}
#but_1, #but_2, #but_3, #but_4, #but_5, #but_6, #but_7, #but_8{
    background-color: rgb(255, 255, 255, 0);
    color: white;    
    font-size: 1.5vw;
    position: absolute;
}
#but_1{
    top: 25%;
    left: 20%;
}
#but_2{
    top: 40%;
    left: 20%;
}
#but_3{
    top: 55%;
    left: 20%;
}
#but_4{
    top: 70%;
    left: 20%;
}
#but_5{
    top: 25%;
    left: 50%;
}
#but_6{
    top: 40%;
    left: 50%;
}
#but_7{
    top: 55%;
    left: 50%;
}
#but_8{
    top: 70%;
    left: 50%;
}
/* #comtable{
    position: relative;
    display: inline-block;
}
.rightbox{
    opacity: 0.7;
    width: 33vw;
    float: right;
    left: 90%;
    position: relative;
}
#table_1, #table_2, #table_3, #table_4, #table_5, #table_6, #table_7, #table_8{
    position: absolute;
    background-color: rgb(255, 255, 255, 0);
    top: 20%;
    left: 80%;
}   */

@media screen and (max-width: 768px){
    body{
        background-image: url(系所手機板背景.png);
        background-position: center;
    }
    #cellup{
        position: relative;
        display: inline-block;
        margin-left: 7%;
        margin-top: 10%;

    }
    .sideup{
        width: 65vw;
        position: absolute;
        left: 33%;
        bottom: 25%;
        float:left;
    }
    .boxup{
        float: left;
        position: relative;
        width: 87vw;
        opacity: 0.7;
    }
    .sidedown{
        width:65vw;
    }
    #butcell_1, #butcell_2, #butcell_3, #butcell_4, #butcell_5, #butcell_6, #butcell_7, #butcell_8{
        background-color: rgb(255, 255, 255, 0);
        color: white;    
        font-size: 4.5vw;
        position: absolute;
    }
    #butcell_1{
        top: 16%;
        right:60%;
    }
    #butcell_2{
        top: 36%;
        right: 60%;
    }
    #butcell_3{
        top: 56%;
        right: 60%;
    }
    #butcell_4{
        top: 76%;
        right: 60%;
    }
    #butcell_5{
        top: 16%;
        right:15%;
    }
    #butcell_6{
        top: 36%;
        right:15%;

    }
    #butcell_7{
        top: 56%;
        right:15%;

    }
    #butcell_8{
        top: 76%;
        right:15%;
    }

    table{
        background-size: cover;
        background-position: left; 
        margin-top: 16%;
        margin-right: 8%;
        opacity: 0.7;
    }
    thead{
        text-align: center;
        font-size:10vw;
        color: white;
    }
    
    tbody{
        float:center;
        display: block;
        height: 35vh;
        overflow-y: scroll;
        overflow-x: scroll;
        border-collapse: collapse;
        text-align: center;
        margin-left: 10%;
        margin-top: 5%;
        width:80vw;
    }
    td{
        float: left;
        font-size: 6vw;
    }
    #tabletext{
        color: white;
    }
}