li{ 
    border-style:outset;
    padding-top:13px; 
    padding-bottom: 13px;
}

ul{
    float:left;
}

.btn-group-vertical{
    float:left;
    margin-left: 5%;
}


.modal-body {
    position:relative;
}

button{
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

h4{
    margin-top: 3%;
    margin-left:68%;  
}

h5{
    margin-left: 20%;
}

table{
    float: right;
    background-color: papayawhip;
    margin-right: 20%;
    margin-top: 3%;
}

thead{
    text-align: center;
    font-size:20px;
}

tbody{
    float:center;
    display: block;
    height: 200px;
    overflow-y: scroll;
    border-collapse: collapse;
    text-align: left;
}

table, th {
    border: 1px solid darkgray;
}

td{
    width:200px;
    float: left;
}

.embed-responsive{
    width: 75%;
    height: 75%;
    margin-left: 20%;
}