
body{
    background-image: url(系所社團背景.png);
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

#all{
    margin-left: 10%;
    margin-top: 5%;
}

@media screen and (max-width: 600px){
    body{
        background-image: url(系所社團_手機板.png);
    }
}