body{
    background-image: url(學生會背景.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    overflow-x: hidden;
}

/* img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: 0;
} */

button:hover {
    background-color: rgb(43, 78, 233);
    color: white;
}
h1{
    margin-left: 5%;
    margin-top: 5%;

}

h3{
    color: rgb(32, 243, 180);
    font-size: 40px;
    margin-left: 2%;
}


h6{
    /* white-space: pre; */
    float: left;
    margin-top: 2%;
    margin-left: 6%;
    border-left: 6px solid lightgreen;
    border-bottom: 40px;
    background-color: lightyellow;
    font-size: 17px;
    border-spacing:50px;
    padding-left:10px; 
    width: 100%;
    word-wrap: break-word;
    max-width: 650px;
    max-height: 300px;
    overflow-y: auto;
    line-height: 26px;
    letter-spacing: 1px;
}

#carouselExampleIndicator1{
    width: 550px;
    height:400px;
    margin-left: 12%;
    float:left;
}    

/* .carousel-inner{
    width: 650px;
    height: 450px;
} */

#update{
    float: left;
}
#bread{
    float:left;
    /* width: 25vw; */
}
#breadcru{
    background-color: black;
    opacity: 0.8;
}
#text_at{
    color: rgb(0, 162, 255);
    opacity: 1;
    font-size: 1.3vw;
}
#text, #text_stu{
    opacity: 1;
    color: white;
    font-size: 1.3vw;
}

.modal{
    margin-top: 5%;  
}

.modal-content{
    background-image: url(彈出視窗背景.png);
}


.main{
    width:21vw;
    position: relative;
    float: right;
}
#stu_button{
    position: relative;
    display: inline-block;
    margin-top: 7%;
    margin-left: 59%;
}
.button_place{
    position: relative;
    float: right;
    width: 20vw;
}
.stu_intro{
    position: absolute;
    width: 7vw;
    left: 40%;
    top: 15%;
}
.stu_intro:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.stu_branch{
    position: absolute;
    width: 12vw;
    left: 32%;
    top: 37%;
}
.stu_branch:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.stu_activity{
    position: absolute;
    width: 12vw;
    left: 32%;
    top: 57%;
}
.stu_activity:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

@media screen and (min-width: 767px) and (max-width: 992px){
    #carouselExampleIndicator1{
        max-width: 450px;
        max-height: 220px;
        margin-left: 5%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1000px){
    .bread{
        margin-top:2.3%;
    }
}
@media screen and (min-width: 589px) and (max-width: 769px){
    .breadcrumb {
        padding: 0rem 0.9rem;
    }
    #text_at{
        font-size: 3vw;
    }
}
@media screen and (max-width: 588px){
    .breadcrumb {
        padding: .75rem .5rem;
    }
}
@media screen and (max-width: 768px){
    body{
        background-image: url(學生會手機板正式背景.png);
        background-position: left;
        overflow-x: hidden;
    }

    .modal{
        z-index: 4100;
        margin-top: 0%;
    }
    .modal .modal-body {
        height: var(--height);
        overflow: auto;
    }
    #nav_a{
        font-size: 12px;
    }
    #modal_button{ 
        margin-top: 3px;
        width: 60px;
        border-radius: 10%;
        text-align: center;
    }
    #nav_ul{
        margin-top: 2%;
        margin-left: 18%;
        overflow-x: scroll;
    }
    h5{
        margin-left: 6%;
        font-size: 15px;
        margin-top:12%;
    }
    h6{
        margin-top: 8%;
        margin-left: 5%;
        border-left: 6px solid lightgreen;
        border-bottom: 40px;
        background-color: rgb(250, 250, 221);
        font-size: 14px;
        border-spacing:50px;
        padding-left:10px; 
        width: 100%;
        word-wrap: break-word;
        max-width: 280px;
        max-height: 300px;
        overflow-y: auto;
        line-height: 26px;
        letter-spacing: 1px;
    }
    #carouselExampleIndicator1{
        max-width: 280px;
        max-height: 220px;
        float: left;
        margin-left: 5%;
    }
    
    /* 麵包屑 */
    #bread{
        float:left;
        width: 10%;
        opacity: 0.8;
    }
    #text{
        font-size: 3.5vw;
    }
    #text_at{
        font-size: 3.8vw;
        float: left;
        text-align: center;
    }
    
    /* Modal按鈕 */
    #stu_button{
        position: relative;
        display: inline-block;
        margin-top: 15%;
        margin-left: 40%;
    }
    .button_place{
        position: relative;
        float: right;
        width: 45vw;
    }
    .stu_intro{
        position: absolute;
        width: 18vw;
        left: 38%;
        top: 13%;
    }
    
    .stu_branch{
        position: absolute;
        width: 28vw;
        left: 32%;
        top: 37%;
    }
    .stu_activity{
        position: absolute;
        width: 28vw;
        left: 32%;
        top: 57%;
    }
    .main{
        width:45vw;
    }
    #text_stu{
        font-size: 3.8vw;
        text-align: center;
        float: right;
        padding-left: .5rem;

    }
}


