body{
    background-image: url(學生會2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

/* img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: 0;
} */


h1{
    margin-left: 5%;
    margin-top: 5%;

}

h3{
    color: rgb(32, 243, 180);
    font-size: 40px;
    margin-left: 2%;
}


h6{
    white-space: pre;
    float: left;
    margin-top: 2%;
    margin-left: 6%;
    border-left: 6px solid lightgreen;
    border-bottom: 40px;
    background-color: lightyellow;
    font-size: 17px;
    border-spacing:50px;
    padding-left:10px; 
    width: 100%;
    word-wrap: break-word;
    max-width: 650px;
    max-height: 300px;
    overflow-y: auto;
    line-height: 26px;
    letter-spacing: 1px;
}


#vertical{
    margin-left: 66%;
    margin-top: 11%; 
    font-size: 14px;

}

#carouselExampleIndicators{
    width: 650px;
    height:450px;
    margin-left: 6%;
    float:left;
}    

.carousel-inner{
    width: 650px;
    height: 450px;
}
/* 差一個s */
#carouselExampleIndicator{
    width: 650px;
    height: 400px;
    margin-left: 10%;
    float:left;
}    


#update{
    float: left;
}
#bread{
    opacity: 0.8;
    width: 23%;
}

.modal{
    margin-top: 5%;  
}

.modal-content{
    background-image: url(彈出視窗背景.png);
}


@media screen and (max-width: 768px){
    body{
        background-image: url(學生會_手機板.png);
        background-position: right;
    }

    #vertical{
        margin-left: 60%;
        margin-top: 40%;
        font-size: 10%;
    }
    .modal{
        margin-top: 5%;
    }
    .modal .modal-body {
        height: var(--height);
        overflow: auto;
    }
    #nav_a{
        font-size: 12px;
    }
    #modal_button{ 
        margin-top: 3px;
        width: 60px;
        border-radius: 10%;
        text-align: center;
    }
    #nav_ul{
        margin-top: 2%;
        margin-left: 18%;
        overflow-x: scroll;
    }
    h5{
        margin-left: 6%;
        font-size: 15px;
        margin-top:12%;
    }
    h6{
        margin-top: 2%;
        margin-left: 5%;
        border-left: 6px solid lightgreen;
        border-bottom: 40px;
        background-color: rgb(250, 250, 221);
        font-size: 14px;
        border-spacing:50px;
        padding-left:10px; 
        width: 100%;
        word-wrap: break-word;
        max-width: 280px;
        max-height: 300px;
        overflow-y: auto;
        line-height: 26px;
        letter-spacing: 1px;
    }
    #carouselExampleIndicators{
        max-width: 280px;
        max-height: 300px;
        float: left;
        margin-left: 5%;
    }
    .carousel-inner{
        width: 280px;
        height: 300px;
    }
    #carouselExampleIndicator{
        max-width: 280px;
        max-height: 300px;
        float: left;
        margin-left: 5%;
    }
}


