<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link href="../login/mdb.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <span class="fa fa-sign-in"></span> 登入
        <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" required>
            </div>
        <div >
            <label>帳號：</label>
            <input type="text" class="form-control" name="email" required>
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
