<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link href="../login/mdb.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <div id="er"></div>
        <form method="post" action="/login" onsubmit="return checkname()">
        <div class="form-group">
            <img src="login.png" id="lg"><img src="登入.png" id="w"><br>
            <img src="學號.png" id="number">
            <input type="text" class="form-control" name="id" id='num' required>
            <% if (error.length > 0) { %>
                <div class="alert alert-danger"><%= error[0] %></div>
            <% } %>
            <button id="btn">繼續</button>
        </div>
        </form>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
<style>
.ddpad {
    padding: .25rem 1.5rem !important;
}
</style>
