<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link href="../login/mdb.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <div id="er"></div>
        <div class="form-group">
            <img src="login.png" id="lg"><img src="登入.png" id="w"><br>
            <img src="學號.png" id="number">
            <input type="text" class="form-control" name="email" required>
            <button id="btn">繼續</button>
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
