<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link href="../login/mdb.min.css" rel="stylesheet">
    <link href="../login/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <div id="er"></div>
        <form method="post" action="/password" id="pwd">
        <div class="form-group">
            <input type="hidden" class="form-control" name="id" required>
            <img src="../login/login.png" id="lg"><img src="../login/登入.png" id="w"><br>
            <img src="../login/密碼2.png" id="number">
            <input type="password" name="password" class="form-control" id="num" required>
            <button id="btn">登入</button>
        </div>
        </form>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include pjs %>
</body>
</html>
<style>
.ddpad {
    padding: .25rem 1.5rem !important;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
</style>