/* 只有電腦板才有的 */
@media only screen and (min-width:800px){
    body{
        background: url(關於我們背景正式.png);
        background-size: cover;
        color:white;
    }
    /* 太空小人2位置 */
    .down.people2{
        width:15%;
        height:25%;
        transition: transform 1s ease;
        right:5vw;
        bottom:20px;
    }
    /* 太空小人1位置 */
    .down.people1{
        left:21vw;
        bottom:30px;
        width:10%;
        height:25%;
    }
    /* 紙箱位置 */
    .down.paperbox{
        right:20vw;
        width:80px;
        height:80px;
        bottom:20px;
    }
    .down{
        position: absolute;
        z-index: 3;
        
    }
    /* 手機板邊框 */
    .pad2{
        display: none;
    }
    .pad3{
        display: none;
    }
    /* 右上角的框框 */
    .aboutUs.screen{
        /* background-image: url(關於我們吊掛螢幕加logo_去被正式.png);
        background-size: 70%; */
        right:0;
        width:25vw;
        /* height: 33vh; */
        top:30px;
        /* position: absolute; */
    }
    .screen2{
        width:100%;
        right:0;
        /* position: absolute; */
    }
    /* 各組名稱 */
    .name{
        position: absolute;
        top:61%;
        right:26%;
        width:50%;
        height:25%;
        z-index: 5000;
    }
    .name2{
        display: none;
    }
    .marktingName{
        background: url(行銷企劃組.png) no-repeat;
        background-size: contain;
        z-index: 5000;
    }
    .programmingName{
        background: url(程式設計組.png) no-repeat;
        /* background-size: 11vw 5vh; */
        background-size: contain;
        z-index: 5000;
    }
    .artName{
        background: url(網頁美工組.png) no-repeat;
        /* background-size: 11vw 5vh; */
        background-size: contain;
        z-index: 5000;
    }
    .videoName{
        background: url(媒體影音組.png) no-repeat;
        /* background-size: 11vw 5vh; */
        background-size: contain;
        z-index: 5000;
    }
    .ceoName{
        background: url(執行組2.png) no-repeat;
        /* background-size: 11vw 5vh; */
        background-size: contain;
        z-index: 5000;
    }
    /* 標題 */
    .aboutUs.title1{
        position: absolute;
        left: 23vw;
        top:50px;
        width:25%;  
    }
    .aboutUs.title2{
        display: none; 
    }
    /* 團照 */
    .picture{
        height:85vh;
        z-index: 0;
        position: absolute;
        top:35px;
        /* right:28vw; */
        width:77%;
    }
    .picture.all2{
        display: none;
    }
    /* 介紹文字 */
    .alert{
        left:8vw;
        /* bottom:-50px; */
        width:35%;
        bottom:3vw;
        position: absolute;

    }
    #fullpage{
        background: url(晶片.png);
        background-size: cover;
        left: 23vw;
    }
}
/* 只有手機板才有的 */
@media only screen and (max-width:800px){
    body{
        background: url(晶片.png);
        /* background-size: cover; */
        overflow-y: scroll;
    }
    /* 標題 */
    .aboutUs.title1{
        display: none; 
    }
    .aboutUs.title2{
        position: absolute;
        right:0;
        top:65px;
        width:50%;  
    }
    .name2{
        float: static;
        float: right;
        width:40%;
    }
    /* 團照 */
    .picture{
        width: auto;
        height: auto;
        max-width: 100%;
        /* height:80%; */
        float: static;
        /* position: absolute; */
        top:60vw;
    }
    .picture.all1{
        display: none;
    }
      
    /* 介紹文字 */
    .alert{
        float: static;
        /* bottom: 10vw; */
        /* top:50vw; */
        width: 90%;
        /* clear: left; */
        /* position: relative; */
    }
    #fullpage{
        z-index: -1;
        width:100%;
        height:20%;
    }
    .pad{
        display: none;
    }
    .aboutUs.screen{
        display: none;
    }
    .down{
        display: none;
    }
}
/* 團照 */
.picture{
    z-index: 0;
    /* position: absolute; */
    
}
/* 介紹文字 */
.alert{
    opacity: 0.9;
    z-index: 1;
    /* position: absolute; */
}
/* 面板 */
.pad{
    z-index: 2;
    position: absolute;
    right:0;
    top:0px;
    width:82vw;
    height: 97vh;
    bottom:1vh;
}
.pad2{
    z-index: 2;
    /* position: absolute;
    top:15vw; */
    position: fixed;
    width:100%;
    height: 100%;
}
.pad3{
    z-index: 2;
    position: absolute;
    bottom: 20px;
    width:100%;
}
.aboutUs{
    position: absolute;
    z-index: 3;
}
#fullpage{
    z-index: -1;
}