/* 只有電腦板才有的 */
@media only screen and (min-width:600px){
    body{
        background: url(關於我們背景正式.png);
        background-size: cover;
        color:white;
    }
    .aboutUs.screen{
        right:0;
        width:50%;
        top:40px;
    }
}
/* 只有手機板才有的 */
@media only screen and (max-width:600px){
    body{
        background: url(關於我們手機板背景.png);
        background-size: cover;
    }
}
.pad{
    z-index: 1;
    position: absolute;
    right:0;
    top:40px;
    width:75%;
}
/* 標題 */
/* h1{
    position: absolute;
    left:20vh;
    top:100px;
} */
.aboutUs.title{
    top:60px;
    width:20%;  
}
.aboutUs{
    position: absolute;
    z-index: 2;
}
#fullpage{
    z-index: -1;
    /* left:390px; */
    left: 30.7%;
}