/* 只有電腦板才有的 */
@media only screen and (min-width:800px){
    .nav-toggle-btn {
        background-size: contain !important; 
        width: 150px;
        height:100px;
        top:150px;
        position: absolute;
        left: 4vw;
    }
    /* 列表 */
    .navi {
        position: absolute;
        top:250px;
        overflow: auto;
        width:15vw;
        left:0.5vw;
    }
    .laser{
        position: absolute;
        top:230px;
        width:23vw;
        height: 300px;
    }
    .group{
        line-height: 2.2;
    }
    .elev2{
        position: absolute;
        left:0;
        width: 20vw;
        height: 50vh;
        z-index: 2;
    }
    .elev2.elevup{
        top:10px;
    }
    .elev2.elevdown{
        bottom:0px;
    }
}
/* 只有手機板才有的 */
@media only screen and (max-width:800px){
    /* 飛碟按鈕 */
    .nav-toggle-btn {
        display: none;
    }
    /* 各組列表 */
    .group{
        line-height: 1.7;
    }
    .navi {
        display: none;
    }
    .laser{
        display: none;
    }
    .elev{
        display: none;
    }
    .elev2{
        display: none;
    }
}
#sideNav {
    background: url(太空電梯導管_去被.png);
    background-size: cover;
    width: 23vw;
    left:0;
    /* width: 200px; */
    z-index: 1000;
    /* position: fixed; */
    /* transform: translate(-200px); */
    background-color: rgba(77, 192, 199, 0.2);
}
/* 列表 */
.navi {
    /* background: url(雷射群按鈕去被.png) no-repeat;
    background-size: contain; */
    z-index: 2000;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0);
}
.laser{
    z-index: 1500;
    left:-25px;
    /* height:300px; */
    
}
.nav-toggle-btn {
    background: url(飛碟素材.png) no-repeat;
    /* background-color: transparent; */
    /* border-color: transparent; */
    z-index: 1800;
    /* display: block; */
    transition: transform 1s ease;
    
}
.nav-toggle-btn.active-nav{
    transform: translate(60px);
}
.group{
    
    color: white;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}
a{
    color: white;
}
.dropdown-menu.active-nav{
    position: absolute;
    /* left:100px; */
}
/* 文字圖片 */
.naviBtn{
    height:20px;
    width:100px;
}
a.group2{
    display:block; 
    margin:auto;
    text-align: center;
}
.elev{
    float: left;
    /* left:0; 這樣寫fullpage會壞掉不知為何*/
    width:23vw;
}