
#CDbox {
    background-image: url('background.png');
    background-size: 100%;
    padding: 0vw;
    margin: 0vw;
    position: relative;
    top: 5vh;
    left: 30vw;
    width: 40%;
    height: 23vw;
    
}

.picture {
    display: none;
    width:100%;
    height:100%;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.CDpicture {
    width:100%;
    height:100%;
}

.CDplayer {
    width:100%;
    height:100%;
}

iframe {
    display: none;
}



.rotate {
    margin: 0vw;
    position: relative;
    top: 6vh;
    left: 65vw;
}

.video_item_title_allvideo  {
    position: absolute;
    top: 15vh;
    left: 0vw;
    writing-mode: vertical-lr;
    margin-top: auto;
    margin-bottom: auto;
    
}

.video_item {
    margin:3vh;
}

.video_item_title {
    position: absolute;
    bottom: 15vh;
    left: 20vw;
    margin: auto;
}

.video_item_longvideo {
    margin-left: 5vw;
}
.video_item_lifevideo {
    margin-left: 4vw;
}
/* .video_item_QAvideo {
    margin-left: 1vw;
} */

.video_item_QAvideo_c1 {
    margin-left: 5vw;
}
.video_item_QAvideo_c2 {
    margin-left: 1vw;
}
.video_item_QAvideo_c3, .video_item_QAvideo_c4, .video_item_QAvideo_c5 {
    margin-left: 2vw;
}
.video_item_QAvideo_c6, .video_item_QAvideo_c8 {
    margin-left: 7vw;
}
.video_item_QAvideo_c7 {
    margin-left: 10vw;
}


.streetInterview {
    margin-left: 7vw;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.sbtn {
    display: none;
}

/* .stop {
    position: absolute;
    left: 0;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
     -o-transition: left 1s;
    transition: left 1s;
} */

/* .move {
    left: auto;
} */



