
#CDbox {
    padding: 0vw;
    margin: 0vw;
    position: relative;
    top: 10vh;
    left: 30vw;
    width: 40%;
    height: 28vw;
    
}

.CDpicture {
    display: none;
    width:100%;
    height:100%;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.CDplayer {
    display: block;
}

.rotate {
    margin: 0vw;
    position: relative;
    top: 15vh;
    left: 60vw;
}

.video_item_title {
    position: absolute;
    top: 15vh;
    left: 0vw;
    writing-mode: vertical-lr;
    margin-top: auto;
    margin-bottom: auto;
    
}

.videoitem {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: aquamarine;
}
.video_item {
    margin:3vh;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
