<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <img id="ncufresh" src="倒數畫面Logo.png" /> 
        <img id="made" src="上線倒數＿文字.png">
        <p id="demo"></p>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
    <% include js %>
</body>
</html>
