<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body style="height: 100vh;">
    <main style="height: 100vh;">
        <img id="ncufresh" src="倒數畫面Logo.png" /> 
        <img id="made" src="上線倒數＿文字.png">
        <div id="grid-counter" style="display:none;">
            <div id="grid-block">
            </div>
            <div id="grid-block" class="time">
                <p id="day"></p>
            </div>
            <div id="grid-block" class="time">
                <p id="hour"></p>
            </div>
            <div id="grid-block" class="time">
                <p id="min"></p>
            </div>
            <div id="grid-block" class="time">
                <p id="sec"></p>
            </div>
            <div id="grid-block">
            </div>
            <div id="grid-block">
            </div>
            <div id="grid-block" class="num">
                <p>day</p>
            </div>
            <div id="grid-block" class="num">
                <p>hour</p>
            </div>
            <div id="grid-block" class="num">
                <p>min</p>
            </div>
            <div id="grid-block" class="num">
                <p>sec</p>
            </div>
            <div id="grid-block">
            </div>
        </div>
    </main>
    <% include js %>
</body>
</html>
