<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <h1><%= title %></h1>
        <p id="demo"></p>
        <div id="timecounter">
            <tr>
                <td>
                    <p id="dd"></p>
                </td>
                <td>
                    <p id="h"></p>
                </td>
                <td>
                    <p id="m"></p>
                </td>
                <td>
                    <p id="s"></p>
                </td>
            </tr>
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
    <% include js %>
</body>
</html>
