<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <img id="ncufresh" src="nfwlogo.png" /> 
        <p id="made">あと</p>
        <p id="demo"></p>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
    <% include js %>
</body>
</html>
