<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <h1><%= title %></h1>
        <%/*側導覽列*/%>
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">全部</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">執行組</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">程設組</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">企劃組</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">美工組</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">影音組</a>
            </li>
          </ul>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
