<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
</head>
<body>
    <header>
        <% include ../layout/navbar %>
        <% include ../about/navi %>
        <link rel='stylesheet' href='about.css'>
        <link rel='stylesheet' href='naviCSS.css'>
        <link rel="stylesheet" type="text/css" href="fullPage.js-master/src/fullpage.css" >
        <script src='fullPage.js-master/dist/fullpage.min.js'></script> 
    </header>
    <main>
        <!-- <h1><%= title %></h1> -->
        <img src="面板(中空)_去被.png" class="pad"></div>
        <img src="關於我們標題框(合)_去被.png" class="aboutUs title"></div>
        <img src="關於我們吊掛螢幕加logo_去被正式.png" class="aboutUs screen"></div>
        <div class="name"></div>
        <div class="logo"></div>
        <img src="太空小人1_去被.png" class="down people1"></div>
        <img src="紙箱_去被.png" class="down paperbox"></div>
        <img src="太空小人2_去被.png" class="down people2"></div>
        
        <%/*各組照片*/%>
        <div id="fullpage">
            <!-- <div class="section" style="background-color: rgb(141, 206, 236)">
                <img src="DSC07734.jpg" class="picture">
                
                <div class="alert alert-primary" role="alert">這是企劃組的介紹</div>
            </div>
            <div class="section" style="background-color: rgb(178, 118, 226)">程式設計組</div>
            <div class="section" style="background-color: rgb(153, 223, 182)">網頁美工組</div>
            <div class="section" style="background-color: rgb(242, 207, 247)">媒體影音組</div>
            <div class="section" style="background-color: rgb(240, 228, 160)">執行組</div> -->

            <div class="section" >
                <img src="DSC07734.jpg" class="picture">
                <!-- <div class="intro"><p>這是企劃組</p></div> -->
                <div class="alert alert-primary" role="alert">這是企劃組的介紹</div>
            </div>
            <div class="section">程式設計組</div>
            <div class="section">網頁美工組</div>
            <div class="section">媒體影音組</div>
            <div class="section" >執行組</div>

        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
