       <%/*側導覽列*/%>
        <!-- <button class="btn btn-secondary dropdown-toggle nav-toggle-btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button> -->
        <!-- <div id="sideNav" class="dropdown">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                  <button class="dropdown-item slide" data-anchor="markting" type="button">行銷企劃組</button>
                  <button class="dropdown-item slide" data-anchor="programming" type="button">程式設計組</button>
                  <button class="dropdown-item slide" data-anchor="art" type="button">網頁美工組</button>
                  <button class="dropdown-item slide" data-anchor="video" type="button">媒體影音組</button>
                  <button class="dropdown-item slide" data-anchor="ceo" type="button">執行組</button>
                </div>
        </div> -->
        <div id="sideNav">
            <!-- <img src="太空電梯上_去被.png" style="position: absolute;bottom: 0vw;left: 0;">
            <img src="太空電梯下_去被.png" style="position: absolute;top: 50px;left: 0;"> -->
            <img class="elev" src="太空電梯導管_去被.png">
            <button class="btn nav-toggle-btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <ul id="navi">
                    <li data-menuanchor="markting" class="dropdown-item" type="button"><a href="#markting" marked="markting">行銷企劃組</a></button>
                    <li data-menuanchor="programming" class="dropdown-item" type="button"><a href="#programming" marked="programming">程式設計組</a></button>
                    <li data-menuanchor="art" class="dropdown-item" type="button"><a href="#art" marked="art">網頁美工組</a></button>
                    <li data-menuanchor="video" class="dropdown-item" type="button"><a href="#video" marked="video">媒體影音組</a></button>
                    <li data-menuanchor="ceo" class="dropdown-item" type="button"><a href="#ceo" marked="ceo">執行組</a></button>
            </ul>
        </div>