       <%/*側導覽列*/%>
        <!-- <button class="btn btn-secondary dropdown-toggle nav-toggle-btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button> -->
        <!-- <div id="sideNav" class="dropdown">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                  <button class="dropdown-item slide" data-anchor="markting" type="button">行銷企劃組</button>
                  <button class="dropdown-item slide" data-anchor="programming" type="button">程式設計組</button>
                  <button class="dropdown-item slide" data-anchor="art" type="button">網頁美工組</button>
                  <button class="dropdown-item slide" data-anchor="video" type="button">媒體影音組</button>
                  <button class="dropdown-item slide" data-anchor="ceo" type="button">執行組</button>
                </div>
        </div> -->
        <div id="sideNav">
            <img src="太空電梯上_去被.png" class="elev2 elevup">
            <img src="太空電梯下_去被.png" class="elev2 elevdown">
            <img class="elev" src="太空電梯導管_去被.png">
            <img class="laser" src="雷射群按鈕去被.png">
            <button class="btn nav-toggle-btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <ul class="navi">
                    <li data-menuanchor="markting" class="dropdown-item"><a href="#markting" marked="markting"><img src="行銷企劃組_去被.png" class="naviBtn"></a></li>
                    <li data-menuanchor="programming" class="dropdown-item"><a href="#programming" marked="programming"><img src="程式設計組_去被.png" class="naviBtn"></a></li>
                    <li data-menuanchor="art" class="dropdown-item" ><a href="#art" marked="art"><img src="網頁美工組_去被.png" class="naviBtn"></a></li>
                    <li data-menuanchor="video" class="dropdown-item" ><a href="#video" marked="video"><img src="媒體影音組_去被.png" class="naviBtn"></a></li>
                    <li data-menuanchor="ceo" class="dropdown-item" ><a href="#ceo" marked="ceo"><img src="執行組_去被.png" class="naviBtn"></a></li>
            </ul>
        </div>