       <%/*側導覽列*/%>
        <div id="sideNav">
            <img src="太空電梯上_去被.png" class="elev2 elevup">
            <img src="太空電梯下_去被.png" class="elev2 elevdown">
            <img class="elev" src="太空電梯導管_去被.png">
            <!-- <button data-menuanchor="all" class="btn nav-toggle-btn" type="button"><a href="#all" marked="all"></a></button> -->
            <a href="#all" marked="all" class="btn nav-toggle-btn"></a>
            <div class="naviPlusLaser">
                    <img class="laser" src="雷射群按鈕去被.png">
                        <ul class="navi">
                            <li data-menuanchor="markting" class="dropdown-item group"><a class="group2" href="#markting" marked="markting"><img src="行銷企劃組_去被.png" class="naviBtn"></a></li>
                            <li data-menuanchor="programming" class="dropdown-item group"><a class="group2"  href="#programming" marked="programming"><img src="程式設計組_去被.png" class="naviBtn"></a></li>
                            <li data-menuanchor="art" class="dropdown-item group" ><a class="group2" href="#art" marked="art"><img src="網頁美工組_去被.png" class="naviBtn"></a></li>
                            <li data-menuanchor="video" class="dropdown-item group" ><a class="group2" href="#video" marked="video"><img src="媒體影音組_去被.png" class="naviBtn"></a></li>
                            <li data-menuanchor="ceo" class="dropdown-item group" ><a class="group2" href="#ceo" marked="ceo"><img src="執行組_去被.png" class="naviBtn"></a></li>
                        </ul>

            </div>
        </div>