<div style="position: absolute;left: 0;bottom: 0;width: 100%;overflow: hidden;text-align: center; background-color: #e0e0e0;">
    <b>@ copyright 2018 ncufresh</b>
    <a href="/about">about us</a>
</div>