<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%_ /* bootstrap and JQuery */ -%>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/tether.min.js"></script>
<link rel="stylesheet" href="/bootstrap-4.1.1-dist/css/bootstrap.min.css">
<script src="/js/popper.min.js"></script>
<script src="/bootstrap-4.1.1-dist/js/bootstrap.min.js"></script>
<%_ /* ckeditor */ -%>
<%_ if (user && user.role === 'admin'){-%>
<script src="/ckeditor/ckeditor.js"></script>
<%_ } -%>
<style>
    <%_ /* 全域思源黑體 */ -%>
    @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
    * {
        font-family: 'Noto Sans TC', sans-serif !important;
    }
    html {
        position: relative;
        min-height: 100%;
        
    }
    #Navbar {
        background-color: rgba(0,0,0,.65);
        top: 0;
        position: fixed;
        transition: top 0.3s;
        z-index: 4000;
    }
    body {
        padding-top: 56px;
        padding-bottom: 24px;
        <%_ /* overscroll-behavior-y: none; 這真的不知道該加還是不加ＱＱ */ -%>
    }
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        overflow: hidden;
        text-align: center;
        background-color: rgba(0,0,0,.85);
    }
    .text-white {
        font-weight: bold;
        cursor: pointer;
    }
    .footer-first-line, .footer-second-line, .footer-third-line {
        color: white;
    }
    @media only screen and (max-width: 630px) {
        .footer-first-line {
            display: none;
        }
    }
    @media only screen and (max-width: 300px) {
        .footer-third-line {
            display: none;
        }
    }
    <% /* 解決在螢幕寬度992~1000px時導覽列的按鈕上的字會自己換行問題 */ %>
    .nav-link {
        white-space: nowrap;
    }
    *::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: rgba(0,0,0, 0);
    }

    *:not(body)::-webkit-scrollbar
    {
    width: 9px;
    }

    body::-webkit-scrollbar
    {
    width: 0px;
    }

    *::-webkit-scrollbar-thumb
    {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #777777;
    }
</style>