<div>
    <a href="/"><b>首頁</b></a>
    <a href="/documents"><b>新生必讀</b></a>
    <a href="/qna"><b>新生Ｑ＆Ａ</b></a>
    <a href="/campus"><b>校園導覽</b></a>
    <a href="/groups"><b>系所社團</b></a>
    <a href="/life"><b>中大生活</b></a>
    <a href="/video"><b>影音專區</b></a>
    <a href="/personal"><b>個人專區</b></a>
    <a href="/smallgame"><b>小遊戲</b></a>
</div>