<% /*<div style="background-color: #e0e0e0;">
    <a href="/"><b>首頁</b></a>
    <a href="/documents"><b>新生必讀</b></a>
    <a href="/qna"><b>新生Ｑ＆Ａ</b></a>
    <a href="/campus"><b>校園導覽</b></a>
    <a href="/groups"><b>系所社團</b></a>
    <a href="/life"><b>中大生活</b></a>
    <a href="/video"><b>影音專區</b></a>
    <a href="/personal"><b>個人專區</b></a>
    <a href="/smallgame"><b>小遊戲</b></a>
</div> */ %>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0,0,0,.3);">
  <a class="navbar-brand text-white" href="/">新生知訊網</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-0">
      <li class="nav-item">
        <a class="nav-link text-white" href="/documents">新生必讀</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/qna">新生Q&A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/campus">校園導覽</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/groups">系所社團</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/life">中大生活</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/video">影音專區</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/smallgame">小遊戲</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/about">關於我們</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/personal">個人專區</a>
      </li>
    </ul>
  </div>
</nav>