<!DOCTYPE html>
<html>

<head>
    <% include ../layout/head %>
        <link rel="stylesheet" href="campus.css">
</head>

<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <h1>
            <%= title %>
        </h1>
        <div id="sidebar_left">
            <ul>
                <li>系館</li>
                <li>運動</li>
                <li>餐廳</li>
                <li>商店</li>
                <li>住宿</li>
                <li>行政</li>
                <li>圖書館</li>
                <li>藝文活動</li>
                <li>醫療緊急</li>
                <li>景點</li>
            </ul>
        </div>
        <div id="content">
            <table>
                <thead>
                    <tr id="tablehead">
                        <td>物件名</td>
                        <td>圖片</td>
                        <td>位置&大小</td>
                        <td>內容</td>
                        <td>刪除</td>
                    </tr>

                </thead>
                <tbody>
                    <%_ for (let i in result) { -%>
                        <tr>
                            <td>
                                <%= result[i]['Element_Name'] %>
                            </td>
                            <td>編輯</td>
                            <td>編輯</td>
                            <td>編輯</td>
                            <td>編輯</td>

                        </tr>
                        <%_ } -%>

                </tbody>
            </table>
        </div>


    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
        <% include js %>
</body>

</html>