<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel="stylesheet" href="/public/stylesheets/campus.css">
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <h1><%= title %></h1>
        <div class="Admin_edit">
            <button><a href="">新增物件</a></button>
            <button><a href="">編輯物件</a></button>        
        </div>
        <div class="Mainmap">
            <img src="back2.png" alt="" width="100%" height="100%">
        </div>
        <div class="list">
            <ul id="List_index">
                <li>系館</li>
                <li>運動</li>
                <li>餐廳</li>
                <li>商店</li>
                <li>住宿</li>
                <li>行政</li>
                <li>圖書館</li>
                <li>藝文活動</li>
                <li>醫療緊急</li>
                <li>景點</li>
            </ul>
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
