<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
    };

    $(document).ready(function () {

        $('.picedit').click(function (event) {
            
            $.ajax({
                url: "getimg?id=" + event.currentTarget.attributes.ooo.value,
                method: 'GET',
                error: function (err) {
                    alert("發生錯誤");
                },
                success: function (data) {
                    if (data.Buildpic != "") {

                        $('.imgcontent').prepend("<div class='saved buildpic'><img class='pic' src='/campus/" + data.Buildpic + "'><a class='picdele'>Delete</a></div>")
                    }
                    console.log(data)
                    if (data.Intropic.length != 0) {

                        for (let i = 0; i < data.Intropic.length; i++) {
                            $('.imgcontent').prepend("<div class='saved intropic'><img class='pic' src='/campus/" + data.Intropic[i] + "'><input type='hidden' class='ipname' value='"+data.Intropic[i]+"'<a class='picdele'>Delete</a></div>")
                        }
                    }
                    $('.imgtype').attr('value', '0')
                    $('.buildpic').show();
                    $('.intropic').hide();
                }
            });

        })
        
        $('.modal-title-buildpic').click(function () {
            $('.imgtype').attr('value', '0')
            $('.buildpic').show();
            $('.intropic').hide();
        })
        $('.modal-title-intropic').click(function () {
            $('.imgtype').attr('value', '1')
            $('.buildpic').hide();
            $('.intropic').show();
        })

        $('.picclose').click(function () {
            $('.saved').remove()
        })
            <% for (let i = 0; i < result.length; i++) { %>
                $("#elecategory" +<%=i %>).children("[value=<%= result[i]['Type'] %>]").attr({ "selected": "selected" });
        <%}%>
            

    })
</script>