<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>

<script>

    var _editorname = null;
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
    };

    $(document).ready(function () {
        $('#sidebar_left li').click(function(event) {
            if(event.currentTarget.attributes.val.value != 0) {
                $('.tabledata').hide()
                $('.tabledata[eletype='+ event.currentTarget.attributes.val.value +']').show()
            } else {
                $('.tabledata').show()
            }
        })
        $('.editpicposi').click(function (event) {

            var tempid = event.currentTarget.attributes.xxx.value
            $.ajax({
                url: "picposition?id=" + event.currentTarget.attributes.xxx.value,
                method: 'GET',
                error: function (err) {
                    alert("發生錯誤")
                },
                success: function (data) {
                    console.log(data)
                    $('.editform').attr("action", "/campus/saveposition/" + tempid)
                    $('.editform').attr("method", "POST")
                    if (data.Buildpic != "") {
                        $('input[name="x_position"]').val(data.X_position)
                        $('input[name="y_position"]').val(data.Y_position)
                        $('input[name="size"]').val(data.Size)
                        $('.picspace').prepend("<img class='posipic' src='/campus/" + data.Buildpic + "'width='" + data.Size + "%' style='top:" + data.X_position + "%; left:" + data.Y_position + "%;'>")
                        $('.posipic').draggable({ containment: '.picspace' });


                        $('.posipic').mousemove(function () {
                            console.log($('#mainmap2').width())
                            console.log($('#mainmap2').height())
                            $('input[name="x_position"]').val($('.posipic').position().top / $('#mainmap2').height() * 100)
                            $('input[name="y_position"]').val($('.posipic').position().left / $('#mainmap2').width() * 100)
                        })
                        $('#mapedit').on('hide.bs.modal', function (e) {

                            $('.posipic').remove()
                            $('#mapedit').off('hide.bs.modal')
                        })


                    }
                }
            })
        })

        $('.close').click(function () {
            $('.posipic').remove()

        })


        $('.picedit').click(function (event) {

            $.ajax({
                url: "getimg?id=" + event.currentTarget.attributes.ooo.value,
                method: 'GET',
                error: function (err) {
                    alert("發生錯誤");
                },
                success: function (data) {
                    $('.fkpicedit').on('hide.bs.modal', function (e) {
                        $('.saved').remove()
                        $('.posipic').remove()
                        $('.fkpicedit').off('hide.bs.modal')
                    })
                    if (data.Buildpic != "") {

                        $('.imgcontent').prepend("<div class='saved buildpic'><img class='pic' src='/campus/" + data.Buildpic + "'><a class='picdele' val='0' ipname=''>Delete</a></div>")
                    }
                    console.log(data)
                    if (data.Intropic.length != 0) {

                        for (let i = 0; i < data.Intropic.length; i++) {
                            $('.imgcontent').prepend("<div class='saved intropic'><img class='pic' src='/campus/" + data.Intropic[i] + "'><a class='picdele' val='1' ipname='" + data.Intropic[i] + "'>Delete</a></div>")
                        }

                    }
                    $('.picdele').click(function (event) {
                        console.log(event.currentTarget.attributes[2].value);
                        // console.log(this.closest('.modal-content').find('.imgcontent').data('ooo'))
                        var temp = $(this).parents(".imgcontent")[0].attributes.ooo.value
                        var temp2 = $(this)

                        $.ajax({
                            url: "deleimg",
                            method: "POST",
                            data: { id: temp, val: event.currentTarget.attributes.val.value, ipid: event.currentTarget.attributes.ipname.value },
                            error: function (err) {

                            },
                            success: function (data) {
                                if (data === true) {
                                    temp2.parent().remove();
                                }
                                // $(this).siblings().remove()
                                // $(this).remove()
                            }
                        })

                    })

                    $('.imgtype').attr('value', '0')
                    $('.buildpic').show();
                    $('.intropic').hide();
                }
            });

        })


        $('.modal-title-buildpic').click(function () {
            $('.imgtype').attr('value', '0')
            $('.buildpic').show();
            $('.intropic').hide();
        })
        $('.modal-title-intropic').click(function () {
            $('.imgtype').attr('value', '1')
            $('.buildpic').hide();
            $('.intropic').show();
        })

        $('.edittextbt').click(function (event) {
            var tempid = event.currentTarget.attributes.val.value
            $.ajax({
                url: 'edittext?id=' + event.currentTarget.attributes.val.value,
                method: 'GET',
                error: function (err) {

                },
                success: function (data) {
                    $('#textedit .modal-title').text(data.Element_Name)
                    $('.texteditform').attr("action","/campus/editElement/"+tempid)
                    $('input[name="elename"]').val(data.Element_Name)
                    $('select[name="elecategory"]').children("[value=" + data.Type + "]").attr({ "selected": "selected" });
                    console.log(data._id)
                    CKEDITOR.instances['edittextarea'].setData(data.Element_Intro);

                }
            })
        })
        CKEDITOR.replace('edittextarea', {
            filebrowserUploadUrl: '/uploader',
        })
        CKEDITOR.editorConfig = function (config) {
            config.enterMode = CKEDITOR.ENTER_BR;
            config.shiftEnterMode = CKEDITOR.ENTER_P;
            config.autoParagraph = false;
        };


    })
</script>