/* all */
html, body{
    font-family: 'Noto Sans TC';
    overflow-x: hidden;
    overflow-y: hidden;
}
a{
    color: black;
}
ul li{
    list-style-type:none;
}
.space{
    position: relative;
    height: 15px;
}

/* index */
.weather_info{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 10%;
    height: 10%;
    color: black;
}
.weather_info p{
    position: relative;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.weather_info hr{
    border-color: black;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.middle{
    position: absolute;
    top: 25%;
    left: 48%;
    font-size: 25px;
    z-index: 2;
}
.middle a{
    margin: 10px;
    text-decoration: none;
}
.middle a:hover{
    position: relative;
    margin: 10px;
    text-decoration: none;
    font-size: 80px;
    right: 26px;
    color: black;
}
#circle {
    position: absolute;
    top: 20%;
    left: 37%;
    width: 250px;
    height: 250px;
    background-color: transparent; /* Can be set to transparent */
    border: 3px #e0e0e0 solid;
    -webkit-border-radius: 150px;
    z-index: 0; 
}
#circle_small {
    position: absolute;
    top: 30%;
    left: 47%;
    width: 150px;
    height: 150px;
    background-color: transparent; /* Can be set to transparent */
    border: 3px #e0e0e0 solid;
    -webkit-border-radius: 100px;
    z-index: 1;
}

/* 分頁 */
.selectArea{
    position: absolute;
    top: 8%;
    left: 10%;
}
.selectbar{
    position: relative;
    width: 400px;
    height: 200px;
}
.mainTitle{
    position: absolute;
    top: -70px;
    left: 0px;
    width: 300px;
    height: 300px;
    z-index: 0;
}
.hide1, .show1{
    position: absolute;
    top: 140px;
    left: 200px;
    width: 60%;
    z-index: 4000; /* always top */
}
.hide1{
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
     -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.show1{
    opacity: 1;
}
.select.afterClick{
    background-color: black;
}
.select a{
    font-size: 25px;
    padding: 10px;
}
.selectbar hr{
    position: absolute;
    top: 110px;
    left: 82px;
    border-color: black;
    border-width: 3px;
    width: 65%;
}
.pictureArea{
    position: absolute;
    height: 30%;
    width: 50%;
    top: 6%;
    left: 37.5%;
}
.picture{
    position: absolute;
    height: 100%;
    top:0; bottom:0; left:0; right:0; margin:auto;
}
.slideshow_container{
    position: absolute;
    height: 90%;
    width: 100%;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    padding: 16px;
    top: 36%;
    width: auto;
    font-size: 40px;
    font-weight: bold;
    color: #e0e0e0;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
    z-index: 2;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(100,100,100,0.8);
}
.dot_container{
    position: relative;
    top: 90%;
    text-align: center;
}
.dot{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #717171;
}
.describeArea{
    position: absolute;
    height: 11%;
    width: 50%;
    top: 36%;
    left: 37.5%;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid;
}
.contentArea{
    position: absolute;
    height: 80%;
    width: 96%;
    top: 10%;
    left: 2%;
}
.contentArea{
    position: absolute;
    z-index: 100;
}
.clk{
    position: relative;
    top: 10%;
    left: 5%;
    width: 130px;
    height: 130px;
    z-index: 4000;
}
.selectbar a{
    font-size: 25px;
    text-align: center;
}