#sideNav{
    position: fixed;
    right: 0px;
    width: 180px;
    height: 500px;
    background-color: white;
    transform: translate(200px);
    transition: transform 1s ease;
    z-index: 300;
}

.navBtn{
    position: absolute;
    right: 100px;
    display: block;
    margin-top: 18%;
    z-index: 100;
}

#sideNav.activeNav{
    transform: translate(0);
}

#navi{
    overflow: auto;
}

ul li{
    font-size: 20px;
}