<div class="pictureArea">
    <div class="slideshow_container">
        <div class="mySlides">        
        </div>
    </div>
    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>
    <div class="dot_container">
        <p class="dot"></p>
        <p class="dot"></p>
    </div>
</div>
<div class="discribeArea">
</div>