<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel=stylesheet type="text/css" href="../life.css">
</head>
<body> 
    <header>
        <% include ../layout/navbar %>
    </header>
    <div class="header-2"></div>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
    <div class="selectbar">
        <div id="circle_little"></div>
        <a class="oncircle" href="">票卡辦理</a>
        <hr />
        <div class="select">
            <a href="">移民署</a> <br />
            <a href="">桃園市民卡</a> <br />
            <a href="">校內運動年票</a> <br />
        </div>
    </div>
    <div class="selectbar" style="top: 38%">
        <div id="circle_little"></div>
        <a class="oncircle" href="">學生權益</a>
        <hr />
        <div class="select">
            <a href="">黑盒子</a> <br />
            <a href="">諮商中心</a> <br />
            <a href="">衛保組</a> <br />
            <a href="">國際處</a> <br />
        </div>
    </div>
    <div class="selectbar" style="top: 58%">
        <div id="circle_little"></div>
        <a class="oncircle" href="">其他</a>
        <hr />
        <div class="select">
            <a href="">影印店</a> <br />
            <a href="">敦煌書局</a> <br />
            <a href="">印象髮廊、中大眼鏡行</a> <br />
        </div>
    </div>
</body>
</html>
