<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel=stylesheet type="text/css" href="../life.css">
</head>
<body> 
    <header>
        <% include ../layout/navbar %>
    </header>
    <div class="header-2"></div>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
    <div id="circle_little" style="top: 20%"></div>
    <a class="oncircle" style="top: 27%" href="">校內</a>
    <div id="circle_little" style="top: 40%"></div>
    <a class="oncircle" style="top: 47%" href="">宵夜街</a>
    <div id="circle_little" style="top: 60%"></div>
    <a class="oncircle" style="top: 67%" href="">後門</a>
</body>
</html>
