<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel=stylesheet type="text/css" href="../life.css">
</head>
<body> 
    <header>
        <% include ../layout/navbar %>
    </header>
    <div class="header-2"></div>
    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
    <div class="selectbar">
        <div id="circle_little"></div>
        <a class="oncircle" href="">校內</a>
        <hr />
        <div class="select">
            <a href="">松苑</a> <br />
            <a href="">松果</a> <br />
            <a href="">九餐</a> <br />
            <a href="">麥斯爾</a> <br />
            <a href="">小木屋</a> <br />
        </div>
    </div>
    <div class="selectbar" style="top: 38%">
        <div id="circle_little"></div>
        <a class="oncircle" href="">宵夜街</a>
    </div>    
    <div class="selectbar" style="top: 58%">
        <div id="circle_little"></div>
        <a class="oncircle" href="">後門</a>
    </div>
</body>
</html>
