<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel=stylesheet type="text/css" href="life.css">
</head>
<body style="background-image: url('background2.png'); background-repeat: no-repeat;  background-size:cover; background-attachment: fixed; height: 100vh; opacity: 0.85;">
    <header>
        <% include ../layout/navbar %>
    </header>
    <main >
        <div id="circle"></div>
        <div id="circle_small"></div>
        <div class="middle">
            <a href="/life/food">食</a> <br /> 
            <a href="/life/dorm">住</a> <br />
            <a href="/life/comm">行</a> <br /> 
            <a href="/life/edu">育</a> <br />
            <a href="/life/entertainment">樂</a> <br /> 
        </div> 
    </main>
    <footer id="footered">
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
    <script>
        $(document).ready(function(){
            var width = innerWidth;
            if(width <= 1024)
                document.location.href = "/life/index_phone";
            $(window).resize(function(){
                width = innerWidth;
                if(width <= 1024)
                    document.location.href = "/life/index_phone";
            });
        });
    </script>
</body>
</html>
