<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel=stylesheet type="text/css" href="life.css">
</head>
<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main>
        <h1><%= title %></h1>
    </main>

    <div class="weather_info">
        <p> 中壢區 </p>
        <p style="font-size:1.2cm;"> <%= temperature %> °C</p>
        <hr />
        <p> <%= desc %> </p>
        <p> 濕度 <%= humidity %></p>
    </div>

    <footer>
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
</body>
</html>
