<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
    <link rel=stylesheet type="text/css" href="../life/life_phone.css">
</head>
<body style="height: 100vh;"> 
    <header>
        <% include ../layout/navbar %>
    </header>
    <main style="height: 100vh;">
        <div class="middle">
            <a href="/life/food">食</a> <br /> 
            <a href="/life/dorm">住</a> <br />
            <a href="/life/comm">行</a> <br /> 
            <a href="/life/edu">育</a> <br />
            <a href="/life/entertainment">樂</a> <br /> 
        </div>
    </main>
    <footer id="footered">
        <% include ../layout/footer %>
    </footer>
        <% include ../layout/js %>
        <% include js %>
    <script>
        $(document).ready(function(){
            $(window).resize(function(){
                var width = innerWidth;
                if(width > 850)
                    document.location.href = "/life";
            });
        });
    </script>
</body>
</html>
