<!DOCTYPE html>
<html>
<head>
    <% include ../layout/head %>
</head>
<body>
    <script>
        $(document).ready(function(){
            var width = innerWidth;
            if(width <= 1024) document.location.href = "/life/index_phone";
            else document.location.href = "/life/index_com";
        });
    </script>
</body>
</html>
