<script>
    $('.navBtn').on('click', function(e){
        $('#sideNav').toggleClass('activeNav');
        e.preventDefault();
    });

    $(document).ready(function(){
        var ifHide = 1;
        $('.hide2').slideUp();
        $('.expendImg').click(function(){
            if(ifHide == 1){
                $('#downNav').slideDown();
                $('#downNav').addClass("show2");
                $('#downNav').removeClass("hide2");
                ifHide = (ifHide + 1) % 2;
            }
            else{
                $('#downNav').slideUp();
                $('#downNav').addClass("hide2");
                $('#downNav').removeClass("show2");
                ifHide = (ifHide + 1) % 2;
            }
        });
    });
    
    var last_slide_id = 0;
    $(document).ready(function(){ 
        $('.hide1').slideUp();
        $('.clk').click(function(){
            var id = $(this).attr("id"),
                sub_id = "#" + id + "_sub";
            if($(sub_id).attr('class') == "hide1"){
                if(last_slide_id != 0){
                    $(last_slide_id).slideUp();
                    $(last_slide_id).addClass("hide1");
                    $(last_slide_id).removeClass("show1");
                }
                $(sub_id).slideDown();
                $(sub_id).addClass("show1");
                $(sub_id).removeClass("hide1");
                last_slide_id = sub_id;
            }
            else{
                $(sub_id).slideUp();
                $(sub_id).addClass("hide1");
                $(sub_id).removeClass("show1");
            }
        });
    });
    

    var slideNum = 0, ramSlideNum = 0;
    $('.showDetail').on('click', function(e){
        e.preventDefault();
        var info = this.id.split("_");
        // if(info[0] == "桃園景點"){
        //     $('.descArea').empty();
        //     $('.pictureArea').empty();
        //     $('.pictureArea').append("<img class='mapClass' src='map.png'>");
        // }
        $(".show1").slideUp();
        $(".show1").addClass("hide1");
        $(".show1").removeClass("show1");
        $.ajax({
            url:    "showing",
            method: "POST",
            data:   {mainTitle: info[0], subTitle: info[1]},
            error: function(err){
                alert("Some error occur...");
            },
            success: function(data){
                putPic(data.res1);
                putCont(data.res2);
            }
        });
        
        var putPic = function(data){
            $(".pictureArea").empty();
            $(".pictureArea").append('<div class="slideshow_container"></div><div class="dot_container"></div>');
            $('.slideshow_container').empty();
            $('.dot_container').empty();
            for(var i=0 ; i<data.length ; i++){
                var j = i + 1;
                $(".slideshow_container").append("<div class='mySlides'><img src='" + data[i].path + "'" + "class='picture'></div>");
                $('.dot_container').append("<p class='dot' onclick='currentSlide(" + j + ")' ></p>");
            }
            if(data.length > 0){
                $(".pictureArea").append('<a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next" onclick="plusSlides(1)">&#10095;</a>');
                slideNum = data.length;
                ramSlideNum = Math.floor((Math.random() * slideNum) + 1);
                showSlides(ramSlideNum);
            }
        }
        var putCont = function(data){
            $(".descArea").empty();
            $(".descArea").append("<div class='describeArea'> <div class='contentArea'></div></div>")
            $(".describeArea").children(".contentArea").empty();
            if(data != null)
                $(".describeArea").children(".contentArea").append(data.content);
        }
    });

    $('.bigTitle').on('change', function(e){
        e.preventDefault();
        var choose = this.value;
        $.ajax({
            url:    "changing",
            method: 'POST',
            data:   {mainTitle : choose},
            error: function(err){
                alert("Some error occur...");
            },
            success: function(data){
                todo(data);
            }
        });
        var todo = function(data){
            $('.smallTitle').empty();
            $('.smallTitle').append("<option value='default'>" + "請選擇" + "</option>");
            for(var i=0 ; i<data.length ; i++){
                $('.smallTitle').append("<option value="+ data[i] + ">" +  data[i] + "</option>");   
            }
        }
    });

    function plusSlides(n) {
        showSlides(ramSlideNum += n);
    }

    function currentSlide(n) {
        ramSlideNum = n;
        showSlides(ramSlideNum);
    }

    function showSlides(n) {
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {ramSlideNum = 1}
        if (n < 1) {ramSlideNum = slides.length}
        for (var i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (var i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[ramSlideNum-1].style.display = "block";
        if(dots.length != 0) dots[ramSlideNum-1].className += " active";
    }

    $( document ).ready( function(){
        $( '.middle a' ).each( function()
        {
            $( this ).attr( 'data-buzz' , $( this ).text() );
        } );
    } );

    $(".showDetail_phone").on('click', function(e){
       e.preventDefault(); 
       var info = this.id.split("_");
        $.ajax({
            url:    "showing",
            method: "POST",
            data:   {mainTitle: info[0], subTitle: info[1]},
            error: function(err){
                alert("Some error occur...");
            },
            success: function(data){
                $(".selectPart").css("visibility", "hidden");
                $(".backenArrow").css("visibility", "visible");
                $(".pictureArea").css("visibility", "visible");
                $(".descArea").css("visibility", "visible");
                putPic_phone(data.res1);
                putCont_phone(data.res2);
            }
        });
    });
    
    $('.showDetail_phone2').on('change', function(e){
        e.preventDefault();
        var info = this.value.split("_");
        $.ajax({
            url:    "showing",
            method: "POST",
            data:   {mainTitle: info[0], subTitle: info[1]},
            error: function(err){
                alert("Some error occur...");
            },
            success: function(data){
                $(".selectPart").css("visibility", "hidden");
                $(".backenArrow").css("visibility", "visible");
                $(".pictureArea").css("visibility", "visible");
                $(".descArea").css("visibility", "visible");
                putPic_phone(data.res1);
                putCont_phone(data.res2);
            }
        });        
    });

    var putPic_phone = function(data){
        $(".pictureArea").empty();
        $(".pictureArea").append('<div class="slideshow_container"></div>');
        $('.slideshow_container').empty();
        for(var i=0 ; i<data.length ; i++)
            $(".slideshow_container").append("<div class='mySlides'><img src='" + data[i].path + "'" + "class='picture'></div>");
        if(data.length > 0){
            $(".pictureArea").append('<a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next" onclick="plusSlides(1)">&#10095;</a>');
            slideNum = data.length;
            ramSlideNum = Math.floor((Math.random() * slideNum) + 1);
            showSlides(ramSlideNum);
        }
    }
    var putCont_phone = function(data){
        $(".descArea").empty();
        $(".descArea").append("<div class='describeArea'> <div class='contentArea'></div></div>")
        $(".describeArea").children(".contentArea").empty();
        if(data != null)
            $(".describeArea").children(".contentArea").append(data.content);
    }

    $(".backenArrow").on("click", function(e){
        e.preventDefault();
        $(".selectPart").css("visibility", "visible");
        $(".pictureArea").css("visibility", "hidden");
        $(".descArea").css("visibility", "hidden");
        $(".backenArrow").css("visibility", "hidden");
        $(".pictureArea").empty();
        $(".descArea").empty();
    });
</script>