<link rel=stylesheet type="text/css" href="../life/navi.css">
<div class="sideNav">
    <nav id="sideNav">
        <a href="#" class="navBtn"><img src="../life/arrow.png" alt="點我" /></a> 
        <ul id="navi" style="height: 100%; margin-top: 5%">
            <li><a href="/life/food">食</a></li>
            <li><a href="/life/dorm">住</a></li>
            <li><a href="/life/comm">行</a></li>
            <li><a href="/life/edu">育</a></li>
            <li><a href="/life/entertainment">樂</a></li>
        </ul>
    </nav>
</div>