<div class="sideNav">
    <nav id="sideNav">
        <a href="#"><img class="navBtn" src="../life/man.png" alt="點我"/></a> 
        <div class="navback"></div>
        <ul id="navi" style="height: 100%; margin-top: 5%;">
            <br />
            <li><a href="/life/food"> <img class="navSubBtn" src="foodBtn.png"/> </a></li> <br/>
            <li><a href="/life/dorm"> <img class="navSubBtn" src="dormBtn.png"/> </a></li> <br/>
            <li><a href="/life/comm"> <img class="navSubBtn" src="commBtn.png"/> </a></li> <br/>
            <li><a href="/life/edu"> <img class="navSubBtn" src="eduBtn.png"/> </a></li> <br/>
            <li><a href="/life/entertainment"> <img class="navSubBtn" src="entertainBtn.png"/> </a></li>
        </ul>
    </nav>
</div>