@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* 背景顏色 */
body{
    /* background-color: #D3E6DD; */
    background: url(背景.png);
    background-size: cover;
    overflow-y: scroll;
}
tbody{
    background-color: white;
    float:center;
    display: block;
    /* height: 300px; */
    
    border-collapse: collapse;
    font-family: Microsoft YaHei;
}
thead{
    line-height: 2;
    display: block;
    text-align: center;
    font-family: Microsoft YaHei;
    color:#29ABE2;
    font-size: 15pt;
    background-color: white;
    /* background-image: url(外框.png);
    background-size: cover; */
}
table{
    margin:0 auto;
    border-collapse: collapse;

    /* border-spacing: 10px; */
    z-index: 1;
}
/* 只有電腦版出現的 */
@media only screen and (min-width:600px){
    /* table的外框 */
    tr::before{
        content:"";
        display: inline-block;
        background-image:url(外框.png);
        background-size:cover;
        width: 50px;
        height: 50px;
    }
    /* 分類排序的顏色 */
    .nav-link{
        color:white;
    }
    /* 回到頁面最頂端按鈕 */
    .goTop{
        background: url(移至頂端2.png);
        background-size: 60px 60px;
        border-color: transparent;
        border-radius: 50%;
        width: 60px;
        height:60px;
        position: fixed;
        bottom: 3vw;
        right:50px;
    }
    /* 搜尋的位置 */
    .search{
        float:right;
    }
    /* 電腦版我要發問按鈕 */
    .askbutton{
        background: url(發問按鈕1.png);
        background-size: cover;
        width:130px;
        height:180px;
        float: right;
        vertical-align: middle;
        position: fixed;
        bottom: 10vw;
        right:15px;
    }
}
/* 只有手機板介面出現的 */
@media only screen and (max-width:600px){
    table{
        font-size:12px;
    }
    thead{
        font-size:14px;
    }
    .nav-link{
        color:black;
    }
    .classification{
        position: absolute;
        z-index: 5000;
    }
    /* 回到頁面最頂端按鈕 */
    .goTop{
        background: url(移至頂端3.png);
        background-size: 40px 40px;
        border-color: transparent;
        border-radius: 50%;
        width: 40px;
        height:40px;
        position: fixed;
        bottom: 5vw;
        right:10px;
    }
    /* 手機版的我要發問按鈕 */
    .askbutton{
        background: url(手機發問2.png);
        background-size: 40px 40px;
        border-radius: 50%;
        width: 40px;
        height:40px;
        color: white;
        border-color: white;
        position: fixed;
        bottom: 21vw;
        right:10px;
    }
    
}
/* 問題合集 */
.Q{
    line-height: 2.3;
    /* border-bottom: 1.5px #29ABE2 solid; */
}
/* 板規合集 */
.R{
    line-height: 2.3;
    /* border-bottom: 1.5px #29ABE2 solid; */
}
td{
    text-align: center;
    width:120px;
    border-bottom: 1.5px #29ABE2 solid;
}
th{
    width:120px;
}
/* 排序與分類的連結 */
.nav-link{
    font-family: YouYuan;
}
li{
    height:40px;
}
.article{
    text-align: left;
    /* margin:15px; */
    margin-left: 5px;
    font-family: Noto Sans TC;

}
/* 排序的按鈕 */
.clbtn{
    background: transparent;
    border-color: transparent;
}
/* 排序與分類 */
.classification{
    margin: 10px;
}
/* 排序與分類的按鈕 */
.classificationBtn{
    background: url(排序2.png);
    background-size: cover;
    float: left;
    border: medium none;
    width: 20px;
    height:20px;
    color: transparent;
    margin-top:5px;
}

/* 排序與分類文字 */
p{
    font-weight:bold;
}
/* 搜尋按鈕 */
.searchbtn{
    background: url(搜尋2.png);
    background-size: 20px 15px;
    background-color: transparent;
    border: medium none;
    color: transparent;
    background-size: cover; 
    width: 20px;
    height:25px;
    margin-top:5px;
    margin-left: 5px;
}
.search{
    display: inline;
}
/* 搜尋輸入關鍵字欄 */
#searchtext{
    border-radius: 30px;
    height: 30px;
    width:150px;
    border-color: white;
    color:white;
    background-color: transparent;
    vertical-align: center;
}
#answer{
    width: 90%;
    margin: 0 auto;
}
/* modal標題欄 */
.modal-title{
    margin:0;
    font-family: Microsoft YaHei;
    font-weight:bold;
}
/* 發問modal的背景圖 */
.postQuestionAndRule{
    background-image: url(我要發問.png);
    background-size: cover;
  }
/* modal長寬設置 */
.modal{
    z-index: 5000;
    height:100%;
}
.modal-body{
    margin-left:20px;
    margin-right:20px;
}
/* 問題與答案樣式 */
 .QA{
    background-image: url(問題.png);
    background-size: cover;
    font-family: Microsoft YaHei;
 }
 .blueLetter{
    display: inline;
    color: #29ABE2;
    font-weight:bold;
 }
 /* 送出問題與答案鈕 */
.submitbtn{
    border-radius: 15px;
    background-color: #29ABE2;
    border-color: #29ABE2;
    font-family: Microsoft YaHei;
 }
 /* 新增板規鈕 */
 .addRulebtn{
    float: left;
    border-radius: 15px;
    background-color: #29ABE2;
    border-color: #29ABE2;
    font-family: Microsoft YaHei;
 }
 /* 表單 */
 form{
    font-weight:bold;
    font-family: Microsoft YaHei;
 }
 /* OK按鈕 */
 .closemodal{
    background-color: #29ABE2;
    color: white;
    font-family: Microsoft YaHei;
    border-color: #29ABE2;
    border-radius: 20px;
    font-weight:bold;
 }
 /* 關閉按鈕 */
 .closebtn{
    font-family: Microsoft YaHei;
    border-radius: 15px;
 }