/* 背景顏色 */
body{
    background-color: #D3E6DD;
}
tbody{
    background-color: white;
    float:center;
    display: block;
    /* height: 300px; */
    overflow-y: scroll;
    border-collapse: collapse;
    font-family: Microsoft YaHei;
}
thead{
    line-height: 2;
    display: block;
    text-align: center;
    font-family: Microsoft YaHei;
    color:#29ABE2;
    font-size: 15pt;
    background-color: white;
    /* background-image: url(外框.png);
    background-size: cover; */
}
table{
    margin:0 auto;
    border-collapse: collapse;
    /* border-spacing: 10px; */
    z-index: 1;
}
/* table的外框 */
.outOfTable{
    left:150px;
    top:152px;
    height:342px;
    float: left;
    z-index:2;
    position: absolute;
}
/* 問題合集 */
.Q{
    line-height: 2.3;
    border-bottom: 1.5px #29ABE2 solid;
}
/* 板規合集 */
.R{
    line-height: 2.3;
    border-bottom: 1.5px #29ABE2 solid;
}
td{
    text-align: center;
    width:120px;
}
th{
    width:120px;
}
/* 排序與分類的連結 */
.nav-link{
    color:black;
    font-family: YouYuan;
}
.title{
    width:200px;
}
/* 排序與分類 */
.classification{
    margin: 20px;
}
/* 排序與分類的按鈕 */
.classificationBtn{
    background: url(排序.png);
    background-size: cover;
    float: right;
    border: medium none;
    width: 30px;
    height:30px;
    color: transparent;
}
/* 排序與分類文字 */
p{
    font-weight:bold;
}
/* 搜尋按鈕 */
.searchbtn{
    background: url(搜尋.png);
    border: medium none;
    color: transparent;
    background-size: cover; 
    width: 30px;
    height:30px;
}
.search{
    display: inline;
}
/* 搜尋輸入關鍵字欄 */
#searchtext{
    border-radius: 15px;
    border-color: black;
    background-color: #D3E6DD;
}
.top{
    position: absolute;
    top:0px;
}
#answer{
    width: 90%;
    margin: 0 auto;
}
/* modal標題欄 */
.modal-title{
    text-align: center;
    margin:0;
    font-family: Microsoft YaHei;
    font-weight:bold;
}
/* 發問modal的背景圖 */
.postQuestionAndRule{
    background-image: url(我要發問.png);
    background-size: cover;
  }
/* modal長寬設置 */
.modal{
    /* position: absolute;
    z-index: 5; */
    height:100%;
}
/* 問題與答案樣式 */
 .QA{
    background-image: url(問題.png);
    background-size: cover;
    font-family: Microsoft YaHei;
 }
 /* 送出問題與答案鈕 */
.submitbtn{
    border-radius: 15px;
    background-color: #29ABE2;
    border-color: #29ABE2;
    font-family: Microsoft YaHei;
 }
 /* 新增板規鈕 */
 .addRulebtn{
    float: left;
    border-radius: 15px;
    background-color: #29ABE2;
    border-color: #29ABE2;
    font-family: Microsoft YaHei;
 }
 /* 表單 */
 form{
    font-weight:bold;
    font-family: Microsoft YaHei;
 }
 /* 我要發問按鈕 */
 .askbutton{
    max-width: 35%;
    max-height: 35%;
    float: right;
    vertical-align: middle;
    position: absolute;
    top:280px;
    right:20px;
 }
 /* 手機版的我要發問按鈕 */
 .askbutton2{
    border-radius: 50%;
    width: 60px;
    height:60px;
    color: white;
    background-color: #29ABE2;
    border-color: #29ABE2;
    font-family: Microsoft YaHei;
    text-align: center;
    vertical-align: baseline;
    font-size: 32px;
    font-weight:bold;
    position: fixed;
    bottom: 16vw;
    right:15px;
 }
 /* OK按鈕 */
 .closemodal{
    background-image: url(OK.png);
    background-size: cover; 
    max-width: 40%;
	max-height: 40%;	
 }
 /* 關閉按鈕 */
 .closebtn{
    font-family: Microsoft YaHei;
    border-radius: 15px;
 }