.adminbt{
  position: fixed;
  top: 15%;
  left: 10px;
}

#indexmodal .modal-dialog {
  width: 60%;
  max-width: none;
  margin-top: 60px;
  max-height: 500px;
  
}
.modal-content{
  border-radius: 10px;
}
.modal-title {
  display: block;
  width: 100%;
  text-align: center;
  white-space:nowrap;
}
.carousel-item {
  max-width: 100%;
  max-height: 250px;
  padding-top: auto;
  padding-bottom: auto;
  vertical-align: middle;
  background-color: #fef9ff; /*背景色*/
  overflow: hidden;
}
.carousel-inner {
  border-style: solid;
  border-color: #0F0C2E;
  border-radius: 15px;
  border-width: 2px;
}
.carousel-item img {
  overflow-y: hidden;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
  width: 100%;
}
.carousel-indicators {
  margin-bottom: 3%;
}

#indexmodalcar {
  width: 65%;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 1.5%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  display: block;
}

#indexmodalp {
  position: relative;
  right: 0;
  top: 0;
  max-height: 160px;
  
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  display: block;
  width: 70%;
  padding: 1%;
  word-wrap: break-word;
  border-style: solid;
  border-color: #1E2533;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#indexmodalp p{
  max-height: 136px;
  overflow-y: scroll;
}
body {
  min-height: 100vh;
  background: url("32F0D3EF-2598-4271-B40D-D5CCCBF339E3.png");
  top: 0;
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



#List_index {
  position: relative;
  display: flex;
  margin-bottom: 18px;
  margin-left:  60px;
  margin-right: 60px;
  padding: 0;    
}
#List_index li {
  margin: 0 auto;
  display: inline-block;
  
}
#List_index li:hover{
  cursor: pointer;
}
#List_index img{
  width: 80px;
  margin: 0;
  padding: 0;
  
}
.main_list_detail {
  position: relative;
  float: right;
  top: 30px;
  right: 2%;
  width: 15%;
  z-index: 5;
  border-style: solid;
  border-color: rgba(255, 252, 240, 1);
  min-width: 143px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.7);
}
.main_list_detail ul {
  margin: 0;
  padding: 0;
}
.main_list_detail li {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-right: 15%;
  padding-left: 15%;
  width: 100%;
  color: aliceblue;
  padding-top: 3%;
  padding-bottom: 3%;
}
.elelist:last-child {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  padding-bottom: 8%;
}
.elelist:hover {
  cursor: pointer;
}
#listtitle {
  z-index: 1;
  font-weight: bold;
  position: relative;
  font-size: 150%;
  margin-top: 4%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.elelist {
  position: relative;
  font-size: 100%;
  font-weight: 650;
}
.elelist:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.mapmove {
  position: relative;
  margin-right: 15%;
  margin-left: 16%;
  /* margin-top: calc((100vh - 154px - 69vw*996/2000)/2);
  margin-bottom: calc((100vh - 154px - 69vw*996/2000)/2); */
  margin-bottom: auto;
  margin-top: auto;
  min-height: calc( 69vw*996/2000 );
  max-height: calc(100vh - 154px);
}
main{
  
  padding-top: calc((100vh - 176px - 69vw*996/2000)/2);
  padding-bottom: calc((100vh - 176px - 69vw*996/2000)/2);

 
}

#map {
  padding: 0;
  width: 100%;
  position: relative;
}


#sidebar_left {
  background-color: lightblue;
  width: 15%;
  margin-left: 2.5%;
  height: 100%;
  text-align: center;
  float: left;
}

#content {
  margin-left: 20.5%;
  margin-right: 2.5%;
  height: 100%;
  background-color: lightslategray;
  text-align: center;
}
#sidebar_left li {
  list-style: none;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: auto;
}
#sidebar_left ul {
  padding-left: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}

tbody {
  display: block;
  max-height: 350px;
  overflow-y: scroll;
}
thead td {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 20%;
}
tbody td {
  padding-top: 4%;
  padding-bottom: 4%;
  width: 20%;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead {
  width: 100%;
}
table {
  width: 100%;
}
li {
  list-style: none;
}

.pic-title {
  padding-left: 3%;
  padding-right: 3%;
  margin: 0;
}
.pic-title:hover {
  color: grey;
  cursor: pointer;
}
.saved {
  max-width: 300px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.picdele {
  margin-right: auto;
  margin-left: auto;
  padding: 3%;
  display: block;
  width: auto;
}
.pic {
  width: 300px;
}

#content tbody tr:nth-child(odd) {
  background: #cccccc;
}
.picspace {
  position: relative;
}

.posipic {
  position: absolute;
}
.indexelepic {
  position: absolute;
  z-index: 3;
}
.indexelepic:hover{
  cursor: pointer;
}
.modal-header span{
  position: fixed;
  display: block;
  right: 15px;
  top: 15px;
  margin: 0;
  padding: 0;
  
}
#indexmodal .modal-header {
  display:inline-block;
  width: 35%;
  margin-right: auto;
  margin-left:auto;
  border-bottom-color: #0F0C2E; 
}
.modal-header span i {
  display: block;
  font-size: 35px;
  margin: 0;
  padding: 0;
}
.modal-header span i:hover{
  cursor: pointer;
}
.carousel-indicators li{
  background-color: #fef9ff;
}
.carousel-indicators .active{
  background-color: #0F0C2E;
}

@media only screen and (max-width:800px) {

}
