.Admin_edit {
  
}
h1 {
  display: none;
}
.Main_list {
  margin-left: 8%;
  margin-right: 8%;
  position: relative;
  margin-bottom: 3%;
  width: 84%;
}
.listtitle {
  margin: 0;
  text-align: center;
  display: block;
  padding: 0;
}
.elelist {
  position: relative;
  display: block;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left:15%;
  height: auto;
    
  
}
#List_index {
  width: 100%;
  padding: 0;
  color: rebeccapurple;
  list-style: none;
  margin: 0;
}
#List_index li {
  width: auto;
  display: inline-block;
  position: relative;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: auto;
  
}
.main_list_detail {
  position: relative;
  top: 12%;
  right: 2%;
  float: right;
  display: block;
  z-index: 1;
  width: 20%;
  height: 0;
  
}
.main_list_detail ul{
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: royalblue;
  padding: 0;
  margin: 0;
  display: block;
  height: auto;
  width:auto;
}

.Mainmap {
  position: relative;
  padding:0;
  display: block;
  width:auto;
  height: auto;
}
.mapmove{
  max-width: auto;
  position: relative;
  margin-right: 15%;
  margin-left: 16%;
  
  
}
#map {
  padding: 0;
  margin: 0;
  width: 100%;
}
main {
  max-height: 100%;
  width: 100%;
}

#sidebar_left {
  background-color: lightblue;
  width: 15%;
  margin-left: 2.5%;
  height: 100%;
  text-align: center;

  float: left;
}

#content {
  margin-left: 20.5%;
  margin-right: 2.5%;
  height: 100%;
  background-color: lightslategray;
  text-align: center;
}
#sidebar_left li {
  list-style: none;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: auto;
}
#sidebar_left ul {
  padding-left: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}

tbody {
  display: block;
  max-height: 350px;
  overflow-y: scroll;
}
thead td {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 20%;
}
tbody td {
  padding-top: 4%;
  padding-bottom: 4%;
  width: 20%;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead {
  width: 100%;
}
table {
  width: 100%;
}
li {
  list-style: none;
}

.pic-title {
  padding-left: 3%;
  padding-right: 3%;
  margin: 0;
}
.pic-title:hover {
  color: grey;
  cursor: pointer;
}
.saved {
  max-width: 300px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.picdele {
  margin-right:auto;
  margin-left: auto; 
  padding: 3%;
  display: block;
  width: auto;
}
.pic{
  width: 300px;
}

#content tbody tr:nth-child(odd) {
  background: #cccccc;
}
.picspace{
  position: relative;
}

.posipic{
  position: absolute;
}
.indexelepic{
  position: absolute;
}
